.btn {
	cursor: pointer;
}

.btn-decolor[class*="btn-outline-"] {
	border-color: $gray-600;
	color: $body-color;
}

.btn-decolor--light[class*="btn-outline-"] {
	border-color: $white;
	color: $white;
}

.btn-lg {
	// border-width: 2px;
}


.btn-icon {
	padding: 1rem;
	
	&.btn-decolor {	
		& >.icon {
			color: theme-color('secondary');
		}

		&:hover >.icon,
		&:focus >.icon,
		&.focus >.icon,
		&:not(:disabled):not(.disabled):active >.icon,
		&:not(:disabled):not(.disabled).active >.icon,
		.show > &.active.dropdown-toggle >.icon {
			color: inherit;
		}
	}
}

.btn-opacity-dark {
	// border-color: rgba($dark, 0.2);
	border-color: transparent !important;
	background-color: rgba($dark, 0.25) !important;
	color: $white; // !immportant;
	opacity: .8;

	&:hover {
		// border-color: rgba($dark, 0.4);
		border-color: transparent !important;
		background-color: rgba($dark, .4) !important;
		color: $white; // !immportant;
		opacity: 1;
	}
}

%btn-aware {
	overflow: hidden;
	position: relative;
	z-index: 1;

	.btn__back {
		position: absolute;
		display: block;		
		border-radius: 50%;
		transition: width 0.4s ease-in-out, padding 0.4s ease-in-out;
		transform: translate(-50%, -50%);
		height: 0;
		width: 0;
		z-index: -1;		
	}

	&:hover {

		.btn__back {
			width: 300%;
			padding-bottom: 300%;
		}
	}
}

@each $color, $value in $theme-colors {
	.btn-#{$color} {
		@extend %btn-aware;

		$hover-background: darken($value, 7.5%);

		& > .btn__back {
			background-color: $hover-background;
		}

		&:hover {
			background: $value;
		}
	}

	.btn-outline-#{$color} {
		@extend %btn-aware;

		$hover-background: $value;

		& > .btn__back {
			background-color: $hover-background;
		}

		&:hover {
			background: transparent !important;
		}
 	}
}

@keyframes kf_el_EYUxxo3eSS_an_DLSmr9_zAY {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes kf_el_EYUxxo3eSS_an_pYOHFwEKl {
	0% {
		transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
	}
	20% {
		transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
	}
	35% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
	100% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
}
@keyframes kf_el_4WUeMceZzt_an_jKt0vo4Nk {
	0% {
		transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
	}
	20% {
		transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
	}
	35% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
	100% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
}
@keyframes kf_el_glUNmLclcy_an_qVbp79TTc {
	0% {
		transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
	}
	20% {
		transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
	}
	35% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
	100% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
}
@keyframes kf_el_74uqoS6kke_an_5r05hrJ8X {
	0% {
		transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
	}
	20% {
		transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
	}
	35% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
	100% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
}
@keyframes kf_el_5WD6QrId_l_an_5_yZMECis2 {
	0% {
		transform: translate(44px, 44px) scale(0, 1) translate(-44px, -44px);
	}
	2% {
		transform: translate(44px, 44px) scale(0, 1) translate(-44px, -44px);
	}
	20% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
	100% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
}
@keyframes kf_el_5WD6QrId_l_an_B205FKWDt {
	0% {
		opacity: 0;
	}
	2% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	40%{
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes kf_el_fsR_ha0RD2_an_LPFi9J1At {
	0% {
		transform: translate(44px, 44px) scale(1, 0.2) translate(-44px, -44px);
	}
	2% {
		transform: translate(44px, 44px) scale(1, 0.2) translate(-44px, -44px);
	}
	20% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
	100% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
}
@keyframes kf_el_fsR_ha0RD2_an_XiPlv0Y02 {
	0% {
		opacity: 0;
	}
	2% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	40%{
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes kf_el_hHOWikO_MJ_an_6OT5D_c0G4 {
	0% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
	10% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
	25% {
		transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
	}
	100% {
		transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
	}
}
@keyframes kf_el_hHOWikO_MJ_an_GYg2BrZoX {
	0% {
		opacity: 0.7;
	}
	10% {
		opacity: 0.7;
	}
	25% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes kf_el_7sHj_bLzhD_an_aN4N7fTjl {
	0% {
		opacity: 0.7;
	}
	10% {
		opacity: 0.7;
	}
	25% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes kf_el_7sHj_bLzhD_an_q8FjWEzm4 {
	0% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
	10% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
	25% {
		transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
	}
	100% {
		transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
	}
}
@keyframes kf_el_EG_tJm4X9N_an_13QSRu9Sb {
	0% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
	25% {
		transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
	}
	45% {
		transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
	}
	100% {
		transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
	}
}
@keyframes kf_el_EG_tJm4X9N_an_19QW5vVEF {
	0% {
		opacity: 0.2;
	}
	25% {
		opacity: 0.2;
	}
	35% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
#el_Vu2EXMZMj * {
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
#el_EG_tJm4X9N {
	opacity: 0.2;
	fill: #0b1226;
	enable-background: new;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
#el_Vu2EXMZMj:hover #el_EG_tJm4X9N {
	animation-name: kf_el_EG_tJm4X9N_an_19QW5vVEF;
}
#el_7sHj_bLzhD {
	opacity: 0.7;
	fill: #ffffff;
	enable-background: new;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
#el_Vu2EXMZMj:hover #el_7sHj_bLzhD {
	animation-name: kf_el_7sHj_bLzhD_an_aN4N7fTjl;
}
#el_hHOWikO_MJ {
	opacity: 0.7;
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ffffff;
	enable-background: new;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
#el_Vu2EXMZMj:hover #el_hHOWikO_MJ {
	animation-name: kf_el_hHOWikO_MJ_an_GYg2BrZoX;
}
#el_fsR_ha0RD2 {
	fill: #ffffff;
	visibility: hidden;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	opacity: 0;
}
#el_Vu2EXMZMj:hover #el_fsR_ha0RD2 {
	animation-name: kf_el_fsR_ha0RD2_an_XiPlv0Y02;
}
#el_5WD6QrId_l {
	fill: #ffffff;
	visibility: hidden;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	opacity: 0;
}
#el_Vu2EXMZMj:hover #el_5WD6QrId_l {
	animation-name: kf_el_5WD6QrId_l_an_B205FKWDt;
}
#el_74uqoS6kke {
	fill: theme-color('primary');
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	opacity: 0;
}
#el_Vu2EXMZMj:hover #el_74uqoS6kke {
	animation-name: kf_el_EYUxxo3eSS_an_DLSmr9_zAY;
}
#el_glUNmLclcy {
	fill: theme-color('primary');
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	opacity: 0;
}
#el_Vu2EXMZMj:hover #el_glUNmLclcy {
	animation-name: kf_el_EYUxxo3eSS_an_DLSmr9_zAY;
}
#el_4WUeMceZzt {
	fill: theme-color('primary');
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	opacity: 0;
}
#el_Vu2EXMZMj:hover #el_4WUeMceZzt {
	animation-name: kf_el_EYUxxo3eSS_an_DLSmr9_zAY;
}
#el_EYUxxo3eSS {
	fill: theme-color('primary');
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	opacity: 0;
}
#el_Vu2EXMZMj:hover #el_EYUxxo3eSS {
	animation-name: kf_el_EYUxxo3eSS_an_DLSmr9_zAY;
}
#el_EG_tJm4X9N_an_13QSRu9Sb {
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
}
#el_Vu2EXMZMj:hover #el_EG_tJm4X9N_an_13QSRu9Sb {
	animation-name: kf_el_EG_tJm4X9N_an_13QSRu9Sb;
}
#el_7sHj_bLzhD_an_q8FjWEzm4 {
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
}
#el_Vu2EXMZMj:hover #el_7sHj_bLzhD_an_q8FjWEzm4 {
	animation-name: kf_el_7sHj_bLzhD_an_q8FjWEzm4;
}
#el_hHOWikO_MJ_an_6OT5D_c0G4 {
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	transform: translate(44px, 44px) scale(1, 1) translate(-44px, -44px);
}
#el_Vu2EXMZMj:hover #el_hHOWikO_MJ_an_6OT5D_c0G4 {
	animation-name: kf_el_hHOWikO_MJ_an_6OT5D_c0G4;
}
#el_fsR_ha0RD2_an_LPFi9J1At {
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	transform: translate(44px, 44px) scale(1, 0.2) translate(-44px, -44px);
}
#el_Vu2EXMZMj:hover #el_fsR_ha0RD2_an_LPFi9J1At {
	animation-name: kf_el_fsR_ha0RD2_an_LPFi9J1At;
}
#el_5WD6QrId_l_an_5_yZMECis2 {
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	transform: translate(44px, 44px) scale(0, 1) translate(-44px, -44px);
}
#el_Vu2EXMZMj:hover #el_5WD6QrId_l_an_5_yZMECis2 {
	animation-name: kf_el_5WD6QrId_l_an_5_yZMECis2;
}
#el_74uqoS6kke_an_5r05hrJ8X {
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
	transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
}
#el_Vu2EXMZMj:hover #el_74uqoS6kke_an_5r05hrJ8X {
	animation-name: kf_el_74uqoS6kke_an_5r05hrJ8X;
}
#el_glUNmLclcy_an_qVbp79TTc {
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
	transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
}
#el_Vu2EXMZMj:hover #el_glUNmLclcy_an_qVbp79TTc {
	animation-name: kf_el_glUNmLclcy_an_qVbp79TTc;
}
#el_4WUeMceZzt_an_jKt0vo4Nk {
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
	transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
}
#el_Vu2EXMZMj:hover #el_4WUeMceZzt_an_jKt0vo4Nk {
	animation-name: kf_el_4WUeMceZzt_an_jKt0vo4Nk;
}
#el_EYUxxo3eSS_an_pYOHFwEKl {
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
	transform: translate(44px, 44px) scale(0, 0) translate(-44px, -44px);
}
#el_Vu2EXMZMj:hover #el_EYUxxo3eSS_an_pYOHFwEKl {
	animation-name: kf_el_EYUxxo3eSS_an_pYOHFwEKl;
}

.fab.active > .fab__btn {
	@extend #el_Vu2EXMZMj:hover;
}