
$bmd-radio-size:            1.125em !default;
$bmd-radio-color-on:          theme-color('primary') !default;
$bmd-radio-color-off:          $border-color !default;
$bmd-radio-border-color-disabled:        $outline-disabled !default;
$bmd-radio-color-disabled:        $text-muted !default;
$bmd-radio-border:             .125em !default;
$bmd-radio-label-padding:         1em !default;

  .bmd-radio {
    position: absolute;
    left: 0;
    display: inline-block;
    padding: .7em;
    // margin: (-.7em - .175em) -.7em;
    margin: -0.7em;
    line-height: .7;
    border-radius: 100%;

    &::after {
      display: inline-block;
      width: $bmd-radio-size;
      height: $bmd-radio-size;
      cursor: pointer;
      content: '';
      border: $bmd-radio-border solid $bmd-radio-color-off;
      border-radius: 50%;
      transition: border-color ease .28s;
      transition-duration: 0.2s;
    }
    &::before {
      position: absolute;
      display: inline-block;
      width: $bmd-radio-size;
      height: $bmd-radio-size;
      content: '';
      background-color: $bmd-radio-color-on;
      border-radius: 50%;
      transition: .28s ease;
      transform: scale(0);
    }
  }

.bmd-custom-radio > label,
label.bmd-custom-radio-inline {
  position: relative;
  padding-left: $bmd-radio-size + $bmd-radio-label-padding;
  // line-height: 1;

  > input[type="radio"] {
    // Hide native radio
    position: absolute;
    left: 0;
    z-index: -1;
    width: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;

    &:checked ~ .bmd-radio {
      &::after {
        border-color: $bmd-radio-color-on;
      }
      &::before {
        background-color: $bmd-radio-color-on;
        transform: scale(1.02);
      }
    }

    &[disabled],
    &:disabled,
    fieldset[disabled] & {
      + .bmd-radio {
        &::after {
          border-color: $bmd-radio-border-color-disabled;
        }
        &::before {
          background-color: $bmd-radio-border-color-disabled;
        }

        // No ripple on disabled radios
        + .bmd-radio .ripple-container {
          display: none;
        }
      }
    }
  }
}

.bmd-custom-radio.disabled > label {
  color: $bmd-radio-color-disabled;
}