h1, .h1 {
	letter-spacing: 0.005em;
	margin-bottom: map-get($spacers, 5);
}

h2, .h2 {
	margin-top: map-get($spacers, 6);
}

h3, .h3 {
	letter-spacing: 0.005em;
	margin-top: map-get($spacers, 6);
	margin-bottom: map-get($spacers, 5);
}

h4, .h4 {
	margin-top: map-get($spacers, 5);
}

h5, .h5 {
	margin-top: map-get($spacers, 43);
	margin-bottom: map-get($spacers, 3);
}

h6, .h6 {
	margin-top: map-get($spacers, 3);
	margin-bottom: map-get($spacers, 3);
}


@include media-breakpoint-up(md) {
	h1, .h1 {
		font-size: $font-size-base * 3;
	}
	
	h2, .h2 {
		font-size: $font-size-base * 1.85;
	}
	
	h3, .h3 {
		font-size: $font-size-base * 1.5;
	}
	
	h4, .h4 {
		font-size: $font-size-base * 1.3;
	}
	
	h5, .h5 {
		font-size: $font-size-base * 1.22;
	}
}

@include media-breakpoint-up(lg) {
	h1, .h1 {
		font-size: $font-size-base * 3.75;
	}
	
	h2, .h2 {
		font-size: $font-size-base * 2.5;
	}
	
	h3, .h3 {
		font-size: $font-size-base * 1.875;
	}
	
	h4, .h4 {
		font-size: $font-size-base * 1.5;
	}
	
	h5, .h5 {
		font-size: $font-size-base * 1.25;
	}
}

p {
	margin-bottom: map-get($spacers, 3);
	margin-top: map-get($spacers, 3);
}

.font-size-base {
	font-size: $font-size-base;
}

.font-size-sm {
	font-size: $font-size-sm;
}

.font-size-lg {
	font-size: $font-size-lg;
}

/* Line Height */
.lh-0 {
	line-height: 0;
}

.lh-1 {
	line-height: 1;
}

.lh-base {
	line-height: $line-height-base;
}

.text-link {
	color: $link-color !important;
}

//
// Lists
//

ul,
ol {
	padding-left: 1.25em;
	// padding-left: 1.8125em;

	> li {
		margin: map-get($spacers, 3) 0;
		text-indent: initial;
		padding-left: 0.5em;
	}
}

.list-unstyled {
	margin-bottom: 0;

	> li {
		margin: 0;
		// padding-left: 0;
	}
}

.list-dashed,
.list-dotted {

	&,
	& ul {
		list-style-type: none;
		padding-left: 1.8125em;
	}
	
	

	li {
		padding-left: 0;
		text-indent: -1.5625em;
	}
}

.list-dashed {

	& > li {
		&:before {
			content: "\2014";
			margin-right: 0.5em;
		}
	}
}

.list-dotted {

	li {

		&:before {
			background-color: theme-color('primary');
			border-radius: 50%;
			content: '';
			display: inline-block;
			height: .5em;
			// line-height: 1;
			margin-right: map-get($spacers, 3);
			// vertical-align: middle;
			width: .5em;
		}
	}
}

@supports (display: grid) {
	dl {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-columns: minmax(min-content, 1fr) auto;
	}
	dt,
	dd {
		padding: .75em 0 .5625em;
	}
	dt:not(:last-of-type),
	dd:not(:last-of-type) {
		border-bottom: 1px solid rgba(0,0,0,.12);
	}
	dt {
		padding-right: map-get($spacers, 2);
	}
	dd {
		margin: 0;
		text-align: right;
		padding-left: map-get($spacers, 2);
	}
}

.link-decoration-none {
	text-decoration: none;
}