@import '../../../../resources/sass/variables';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import '../../../../resources/sass/snippets/all';


.b-newslist {

	&__picture {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		padding-bottom: 100%;
		max-width: 350px;
		max-height: 350px;
	}

	&__item-background {
		max-height: 440px;
	}

	&__item-background-image {
		max-width: 100%;
		@include media-breakpoint-up(sm) {
		object-fit: cover;
		width: 100%;
		height: 100%;
		}
	}

	&__item-background-image-container {

		@include media-breakpoint-up(sm) {
			bottom: 0;
			left: 0;
			// max-height: 440px;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	
	&__data-background {
		margin-top: -5rem;

		@include media-breakpoint-up(sm) {
			margin-top: auto;
			min-height: 440px;
			height: 1px; // ie vertical-align fix
		}
	}
	
	&__date {
		font-weight: $font-weight-bold;
	}
	
	&__date-background {
		color: $white;
		font-weight: $font-weight-bold;
	}

	&__line {
		width: 2.3rem;
		height: 2px;
		background: $primary;
	}

	&__line-background {
		width: 2.3rem;
		height: 2px;
		background: $white;
	}

	&__time-month {
		font-size: 75%;
	}

	&__name {
		color: $black;
		
		@include media-breakpoint-down(xs) {
			font-size: $font-size-base;
		}
		
		&:hover {
			color: $black;
			text-decoration: underline;
		}
	}

	&__name-overlay {
		overflow: hidden;
		overflow-y: hidden;
		max-height: 200px;

		@media (max-width: 880px) {
			max-height: 128px;
		}

		@include media-breakpoint-down(md) {
			max-height: 100px;
		}

		@include media-breakpoint-down(xs) {
			max-height: 100%;
		}

		&::after {
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 80%, #fff 100%);
			right: 0;
			content: "";
			height: 2rem;
			left: 0;
			position: absolute;
			top: 10.9rem;
			width: 100%;

			@media (max-width: 880px) {
				height: 3rem;
				top: 5.9rem;
			}

			@include media-breakpoint-down(lg) {
				bottom: 0;
			}

			@include media-breakpoint-down(xs) {
				display: none;
			}
		}
	}

	&__name-background {
		color: $white;
		max-height: 10.6rem;

		@include media-breakpoint-down(md) {
			max-height: 10.2rem;
		}

		@include media-breakpoint-down(xs) {
			max-height: 12rem;
			color: $black;
			font-size: $font-size-base;
		}

		&:hover {
			color: $white;
			text-decoration: underline;

			@include media-breakpoint-down(xs) {
				color: $black;
			}
		}
	}
}
	
