.b-newslist__picture {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  max-width: 350px;
  max-height: 350px; }

.b-newslist__item-background {
  max-height: 440px; }

.b-newslist__item-background-image {
  max-width: 100%; }
  @media (min-width: 576px) {
    .b-newslist__item-background-image {
      object-fit: cover;
      width: 100%;
      height: 100%; } }

@media (min-width: 576px) {
  .b-newslist__item-background-image-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; } }

.b-newslist__data-background {
  margin-top: -5rem; }
  @media (min-width: 576px) {
    .b-newslist__data-background {
      margin-top: auto;
      min-height: 440px;
      height: 1px; } }

.b-newslist__date {
  font-weight: 500; }

.b-newslist__date-background {
  color: #fff;
  font-weight: 500; }

.b-newslist__line {
  width: 2.3rem;
  height: 2px;
  background: #d5001c; }

.b-newslist__line-background {
  width: 2.3rem;
  height: 2px;
  background: #fff; }

.b-newslist__time-month {
  font-size: 75%; }

.b-newslist__name {
  color: #000; }
  @media (max-width: 575.98px) {
    .b-newslist__name {
      font-size: 1rem; } }
  .b-newslist__name:hover {
    color: #000;
    text-decoration: underline; }

.b-newslist__name-overlay {
  overflow: hidden;
  overflow-y: hidden;
  max-height: 200px; }
  @media (max-width: 880px) {
    .b-newslist__name-overlay {
      max-height: 128px; } }
  @media (max-width: 991.98px) {
    .b-newslist__name-overlay {
      max-height: 100px; } }
  @media (max-width: 575.98px) {
    .b-newslist__name-overlay {
      max-height: 100%; } }
  .b-newslist__name-overlay::after {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 80%, #fff 100%);
    right: 0;
    content: "";
    height: 2rem;
    left: 0;
    position: absolute;
    top: 10.9rem;
    width: 100%; }
    @media (max-width: 880px) {
      .b-newslist__name-overlay::after {
        height: 3rem;
        top: 5.9rem; } }
    @media (max-width: 1199.98px) {
      .b-newslist__name-overlay::after {
        bottom: 0; } }
    @media (max-width: 575.98px) {
      .b-newslist__name-overlay::after {
        display: none; } }

.b-newslist__name-background {
  color: #fff;
  max-height: 10.6rem; }
  @media (max-width: 991.98px) {
    .b-newslist__name-background {
      max-height: 10.2rem; } }
  @media (max-width: 575.98px) {
    .b-newslist__name-background {
      max-height: 12rem;
      color: #000;
      font-size: 1rem; } }
  .b-newslist__name-background:hover {
    color: #fff;
    text-decoration: underline; }
    @media (max-width: 575.98px) {
      .b-newslist__name-background:hover {
        color: #000; } }

/*# sourceMappingURL=style.css.map */
