.table-basket {}
  .table-basket .btn-quantity,
  .table-basket .btn-quantity[disabled],
  .table-basket .input-quantity {
    border: 1px solid #ebebeb;
  }
  .table-basket th.name {
    text-align: center;
    width: 100%;
  }
  .table-basket td.name {
    width: 100%;
  }
  .table-basket th.quantity,
  .table-basket td.quantity {
    vertical-align: middle;
  }
  .table-basket td.quantity {
    text-align: center;
  }
  .table-basket .price,
  .table-basket .fullprice {
    white-space: nowrap;
    vertical-align: middle;
  }
  .table-basket .image {
    width: 80px;
    max-height: 80px;
    float: left;
  }

  .table-basket .properties {
    margin-top: 10px;
  }

.panel.panel-order {
  margin-top: 15px;
  border: 1px solid #ebebeb;
}
.panel.panel-order .panel-body {
  padding: 15px 10px 10px 10px;
}
.panel.panel-order .price.cool {
  font-size: 18px;
  line-height: 35px;
}

.panel-group.panel-group-order label {
  font-weight: normal;
}

.order-confirm {
  margin-left: 15px;
  margin-top: 10px;
}

@media (max-width: 375px) {
  .panel-order .orderline .col.col-xs-6  {
    width: 100%;
    text-align: center;
  }
  .panel-order .orderline .col.col-xs-6 .btn {
    width: 100%;
  }
  .panel-order .orderline .buttons {
    margin-bottom: 5px;
  }
}
