:root {
  --primary: #d00000; }

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #DD4747; }

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #E88484; }

.table-hover .table-primary:hover {
  background-color: #9d0000; }
  .table-hover .table-primary:hover > td,
  .table-hover .table-primary:hover > th {
    background-color: #9d0000; }
.btn-primary {
  color: #ffffff;
  background-color: #d00000;
  border-color: #d00000; }
  .btn-primary:hover {
    color: #ffffff;
    background-color: #aa0000;
    border-color: #9d0000; }
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0 rgba(215, 38, 38, 0.5); }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #ffffff;
    background-color: #d00000;
    border-color: #d00000; }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #9d0000;
    border-color: #900000; }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0 rgba(215, 38, 38, 0.5); }
.btn-outline-primary {
  color: #d00000;
  border-color: #d00000; }
  .btn-outline-primary:hover {
    color: #ffffff;
    background-color: #d00000;
    border-color: #d00000; }
  .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0 rgba(208, 0, 0, 0.5); }
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #d00000;
    background-color: transparent; }
  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #d00000;
    border-color: #d00000; }
    .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0 rgba(208, 0, 0, 0.5); }
  .custom-control-input:checked ~ .custom-control-label::before {
    color: #ffffff;
    border-color: #d00000;
    background-color: #d00000; }
  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #ffffff;
    background-color: #;
    border-color: #; }
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  border-color: #d00000;
  background-color: #d00000; }
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(208, 0, 0, 0.5); }

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(208, 0, 0, 0.5); }
.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(208, 0, 0, 0.5); }
  .custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(208, 0, 0, 0.5); }

  .custom-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(208, 0, 0, 0.25); }
  .custom-range::-webkit-slider-thumb {
    background-color: #d00000; }
    .custom-range::-webkit-slider-thumb:active {
      background-color: #; }
  .custom-range::-moz-range-thumb {
    background-color: #d00000; }
    .custom-range::-moz-range-thumb:active {
      background-color: #; }
  .custom-range::-ms-thumb {
    background-color: #d00000; }
    .custom-range::-ms-thumb:active {
      background-color: #; }
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #ffffff;
  background-color: #d00000; }
  .breadcrumb-item + .breadcrumb-item::before {
    color: #d00000; }
  .page-link:hover {
    color: #ffffff;
    background-color: #aa0000;
    border-color: #aa0000; }
.page-item.active .page-link {
  color: #ffffff;
  background-color: #d00000;
  border-color: #d00000; }
.badge-primary {
  color: #ffffff;
  background-color: #d00000; }
  a.badge-primary:hover, a.badge-primary:focus {
    color: #ffffff;
    background-color: #9d0000; }
  a.badge-primary:focus, a.badge-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(208, 0, 0, 0.5); }
.alert-primary {
  color: #630000;
  background-color: #D93232;
  border-color: #DD4747; }
  .alert-primary hr {
    border-top-color: #9d0000; }
  .alert-primary .alert-link {
    color: 9d0000; }
.progress-bar {
  color: #ffffff;
  background-color: #d00000; }
  .list-group-item.active {
    color: #ffffff;
    background-color: #d00000;
    border-color: #d00000; }
.list-group-item-primary {
  color: #630000;
  background-color: #DD4747; }
  .list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #630000;
    background-color: #9d0000; }
  .list-group-item-primary.list-group-item-action.active {
    color: #ffffff;
    background-color: #630000;
    border-color: #630000; }
.bg-primary {
  background-color: #d00000 !important; }

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #9d0000 !important; }
.border-primary {
  border-color: #d00000 !important; }
.text-primary {
  color: #d00000 !important; }

a.text-primary:hover, a.text-primary:focus {
  color: #9d0000 !important; }
.btn-primary > .btn__back {
  background-color: #aa0000; }

.btn-primary:hover {
  background: #d00000; }

.btn-outline-primary > .btn__back {
  background-color: #d00000; }
#el_74uqoS6kke {
  fill: #d00000; }

#el_glUNmLclcy {
  fill: #d00000; }

#el_4WUeMceZzt {
  fill: #d00000; }

#el_EYUxxo3eSS {
  fill: #d00000; }
    .bmd-custom-checkbox > label input[type=checkbox]:checked + .checkbox-decorator .check::before,
    label.bmd-custom-checkbox-inline input[type=checkbox]:checked + .checkbox-decorator .check::before {
      border-right: 0.125em solid #d00000;
      border-bottom: 0.125em solid #d00000; }
    .nav-wrap .scroll-arrow:hover {
      background: #d00000;
      border-color: #d00000; }
.nav-scrollspy:not(.active) .nav-item:first-child .nav-link,
.nav-scrollspy .nav-link:hover,
.nav-scrollspy .nav-link:active,
.nav-scrollspy .nav-link.active {
  color: #d00000; }
  .nav-slide .nav-slide-line {
    background-color: #d00000; }
  .nav-link:hover, .nav-link:active, .nav-link.active {
    color: #d00000; }
  .bmd-radio::before {
    background-color: #d00000; }
    .bmd-custom-radio > label > input[type="radio"]:checked ~ .bmd-radio::after,
    label.bmd-custom-radio-inline > input[type="radio"]:checked ~ .bmd-radio::after {
      border-color: #d00000; }
    .bmd-custom-radio > label > input[type="radio"]:checked ~ .bmd-radio::before,
    label.bmd-custom-radio-inline > input[type="radio"]:checked ~ .bmd-radio::before {
      background-color: #d00000; }
.list-dotted li:before {
  background-color: #d00000; }
.b-error-page__img {
  color: #d00000; }
  .breadcrumb-item--prev::before,
  .breadcrumb-item + .breadcrumb-item::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23d00000' d='M9.29274 18.7071C8.90222 18.3166 8.90222 17.6834 9.29274 17.2929L14.5856 12L9.29274 6.70711C8.90222 6.31658 8.90222 5.68342 9.29274 5.29289C9.68327 4.90237 10.3164 4.90237 10.707 5.29289L17.4141 12L10.707 18.7071C10.3164 19.0976 9.68327 19.0976 9.29274 18.7071Z'/%3E%3C/svg%3E%0A"); }
  @media (max-width: 767.98px) {
      .breadcrumb-item--prev::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23d00000' d='M16.6247 8.21851L11 3.71875L5.37534 8.21851C4.94408 8.56352 4.87416 9.19281 5.21917 9.62407C5.56418 10.0553 6.19347 10.1253 6.62473 9.78024L10 7.08003V16C10 17.6569 11.3431 19 13 19H18C18.5523 19 19 18.5523 19 18C19 17.4477 18.5523 17 18 17H13C12.4477 17 12 16.5523 12 16V7.07997L15.3753 9.78024C15.8066 10.1253 16.4359 10.0553 16.7809 9.62407C17.1259 9.19281 17.056 8.56352 16.6247 8.21851Z'/%3E%3C/svg%3E%0A") !important; } }
    .breadcrumb-item > a:hover {
      color: #d00000; }
.b-cart__product-item-amount .icon-svg {
  color: #d00000; }
.b-cart__tools-remove:hover, .b-cart__tools-remove:active, .b-cart__tools-remove:focus {
  color: #d00000; }
  .c-icon-count__quantity {
    background: #d00000;
    color: #ffffff; }

@keyframes sonarEffect {
  0% {
    opacity: 0.3; }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 3px 3px rgba(208, 0, 0, 0.6), 0 0 0 3px rgba(255, 255, 255, 0.5); }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 3px 3px rgba(208, 0, 0, 0.6), 0 0 0 3px rgba(255, 255, 255, 0.5);
    transform: scale(1);
    opacity: 0; } }

    .main-menu > .main-menu__item > .main-menu__link:before {
      background-color: #d00000; }
  .side-panel__close {
    background: #d00000;
    color: #ffffff; }
.snippet-descr-image__line {
  background-color: #d00000; }
  .snippet-list-checkbox__check {
    border-bottom-color: #d00000;
    border-left-color: #d00000; }
  .snippet-list-numeric__line {
    background-color: #d00000; }
  .snippet-list-numeric__number {
    color: #d00000; }
  .l-header__hamburger {
    background: #d00000; }
  .owl-dot.active,
  .owl-carousel button.owl-dot.active {
    background: #d00000; }


.rs-banner__text .list-dashed > li:before {
  color: #d00000; }
  .rs-banner-wrapper .owl-preview__icon {
      background-color: rgba(208, 0, 0, 0.2) !important;
      color: #ffffff }
      .rs-banner-wrapper .owl-preview__icon:hover {
        background-color: rgba(208, 0, 0, 0.4) !important; }

.product-amount-field-btn-plus, .product-amount-field-btn-minus {
  color: #d00000; }

.product--detail .product__head:after {
  background-color: #d00000; }

.product--card .product-title:before,
.product--line .product-title:before {
  background-color: #d00000; }
  
.b-about-achievements__line {
  background-color: #d00000; }

.b-news-detail__photo-description-line {
  background: #d00000; }

.newslist-item__title:before {
  background-color: #d00000; }

.b-newslist__line {
  background: #d00000; }
body .rstuning a.active,
body .rstuning a:hover,
body .rstuning a:focus,
body .rstuning a:active {
	color: ##TUNING_COLOR#; }
body .rstuning__tabs__link.active > span,
body .rstuning__tabs__link:hover > span {
	color: ##TUNING_COLOR#; }
body .rstuning .spinner-layer {
	border-color: ##TUNING_COLOR#; }
body .rstuning__close-button__link svg {
	fill: ##TUNING_COLOR#; }
body .rstuning__hamburger.is-active .rstuning__hamburger-inner,
body .rstuning__hamburger.is-active .rstuning__hamburger-inner::before,
body .rstuning__hamburger.is-active .rstuning__hamburger-inner::after {
	background-color: ##TUNING_COLOR#; }
body .rstuning__hamburger-inner,
body .rstuning__hamburger-inner:before,
body .rstuning__hamburger-inner:after {
	background-color: ##TUNING_COLOR#; }
body .rstuning__option__colorpicker__alone-color:hover .rstuning__option__colorpicker__before-paint,
body .rstuning__option__colorpicker__alone-color.active .rstuning__option__colorpicker__before-paint {
	border-color: ##TUNING_COLOR#; }
body .rstuning__selectbox.open .rstuning__selectbox__value {
	border-color: ##TUNING_COLOR#; }
body .rstuning__selectbox__value:hover {
	border-color: ##TUNING_COLOR#; }
body .rstuning__selectbox__value > svg {
	fill: ##TUNING_COLOR#;}
body .rstuning__option__radio.mod-images input:hover + label .rstuning__option__radio__div,
body .rstuning__option__radio.mod-images input:checked + label .rstuning__option__radio__div,
body .rstuning__option__radio.mod-buttons input:hover + label .rstuning__option__radio__div,
body .rstuning__option__radio.mod-buttons input:checked + label .rstuning__option__radio__div {
    border-color: ##TUNING_COLOR#; }
