

/* Start:/bitrix/templates/uniteh_inner/components/bitrix/news.list/our_team/style.css?1483957030154*/
/*div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
*/
/* End */
/* /bitrix/templates/uniteh_inner/components/bitrix/news.list/our_team/style.css?1483957030154 */
