@import '../../../../resources/sass/variables';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import '../../../../resources/sass/snippets/all';


.side-menu {
	@include list-unstyled;
	display: none;
	
	@media (min-width: 1700px) {
		display: block;
		padding-left: 3rem;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		transition: 0.25s;
		transition-delay: .75s;

		.is-loaded & {
			transition-delay: 0s;
		}

		&.is-hidden {
			opacity: 0;
			pointer-events: none;
		}

		.is-loaded &--expand &__item {
			border-color: rgba(0, 0, 0, 0.35);
		}

		// .is-loaded &--expand.l-contrast--light &__item {
		.is-loaded &.l-contrast--light &__item {
			border-color: rgba(255, 255, 255, 0.35);
		}

		.is-loaded &--expand &__link {
			width: 15rem;
			padding-bottom: 0.625rem;
			padding-top: 0.625rem;
			pointer-events: auto;
			color: inherit;
		}

		&__item {
			border: 0 solid transparent;
			border-top-width: 1px;
			margin: 0;
			padding-left: 0;
			padding-bottom: 0.5rem;
			padding-top: 0.5rem;
			transition: 0.25s;
			transition-property: border-color;
			transition-delay: .75s;

			&:first-child {
				border-top-width: 0;
			}

			.is-loaded & {
				transition-delay: 0s;
			}
		}

		&__link {
			padding-left: 5rem;
			text-align: left;
			position: relative;
			left: -3rem;
			display: block;
			opacity: 0;
			transform: translateX(-1.25rem);
			color: inherit;
			transition: 0.25s;
			transition-property: opacity, padding, transform;// color;
			transition-delay: .75s;
			white-space: nowrap;
			pointer-events: none;

			&:hover {
				text-decoration: none;
			}

			
			.is-loaded & {
				transition-delay: 0s;
			}
		}

		&__link::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			height: 1.2px;
			width: 4.25rem;
			transform: scaleX(0.29411);
			transform-origin: 100% 50%;
			background-color: #35373b;
			transition: 0.25s;
			transition-property: background-color, opacity, transform;
			transition-delay: .75s;
			will-change: transform;

			
			.is-loaded & {
				transition-delay: 0s;
			}
		}

		&.l-contrast--light &__link::before {
			background-color: $white;
		}

		.is-loaded &__link {
			opacity: 0.8;
			transform: translateX(0);
		}

		.is-loaded &__item.is-active > &__link,
		.is-loaded &__link:hover {
			opacity: 1;
			color: inherit;
		}

		.is-loaded &__item.is-active > &__link::before,
		.is-loaded &__link:hover::before {
			transform: scaleX(1);
		}
	}	
}