.side-menu {
  padding-left: 0;
  list-style: none;
  display: none; }
  @media (min-width: 1700px) {
    .side-menu {
      display: block;
      padding-left: 3rem;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      transition: 0.25s;
      transition-delay: .75s; }
      .is-loaded .side-menu {
        transition-delay: 0s; }
      .side-menu.is-hidden {
        opacity: 0;
        pointer-events: none; }
      .is-loaded .side-menu--expand .side-menu__item {
        border-color: rgba(0, 0, 0, 0.35); }
      .is-loaded .side-menu.l-contrast--light .side-menu__item {
        border-color: rgba(255, 255, 255, 0.35); }
      .is-loaded .side-menu--expand .side-menu__link {
        width: 15rem;
        padding-bottom: 0.625rem;
        padding-top: 0.625rem;
        pointer-events: auto;
        color: inherit; }
      .side-menu__item {
        border: 0 solid transparent;
        border-top-width: 1px;
        margin: 0;
        padding-left: 0;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        transition: 0.25s;
        transition-property: border-color;
        transition-delay: .75s; }
        .side-menu__item:first-child {
          border-top-width: 0; }
        .is-loaded .side-menu__item {
          transition-delay: 0s; }
      .side-menu__link {
        padding-left: 5rem;
        text-align: left;
        position: relative;
        left: -3rem;
        display: block;
        opacity: 0;
        transform: translateX(-1.25rem);
        color: inherit;
        transition: 0.25s;
        transition-property: opacity, padding, transform;
        transition-delay: .75s;
        white-space: nowrap;
        pointer-events: none; }
        .side-menu__link:hover {
          text-decoration: none; }
        .is-loaded .side-menu__link {
          transition-delay: 0s; }
      .side-menu__link::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        height: 1.2px;
        width: 4.25rem;
        transform: scaleX(0.29411);
        transform-origin: 100% 50%;
        background-color: #35373b;
        transition: 0.25s;
        transition-property: background-color, opacity, transform;
        transition-delay: .75s;
        will-change: transform; }
        .is-loaded .side-menu__link::before {
          transition-delay: 0s; }
      .side-menu.l-contrast--light .side-menu__link::before {
        background-color: #fff; }
      .is-loaded .side-menu__link {
        opacity: 0.8;
        transform: translateX(0); }
      .is-loaded .side-menu__item.is-active > .side-menu__link,
      .is-loaded .side-menu__link:hover {
        opacity: 1;
        color: inherit; }
      .is-loaded .side-menu__item.is-active > .side-menu__link::before,
      .is-loaded .side-menu__link:hover::before {
        transform: scaleX(1); } }

/*# sourceMappingURL=style.css.map */
