.search-form {
  width: 100%;
  max-width: 60rem;
  transition: .5s;
  position: relative; }
  .search-form__button {
    background: transparent;
    border: 0;
    bottom: 3.5rem;
    outline: 0;
    position: absolute;
    right: 0.875rem;
    top: 2.58889rem;
    font-size: 1.5rem;
    color: #D3DAE6; }

.title-search-result {
  display: none;
  background: white;
  border: 1px solid #D3DAE6;
  z-index: 100003; }

.title-search-overflow {
  max-height: 29rem;
  overflow: auto; }

.title-search-item {
  display: flex;
  align-items: center;
  padding-left: 7rem; }
  .title-search-item a {
    text-decoration: none; }

.title-search-item__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem; }

.title-search-item__price {
  font-size: 75%; }

.title-search-item__price-current {
  font-weight: 600;
  font-size: 1.125rem; }

.title-search-item__price-discount {
  text-decoration: line-through;
  font-size: 0.875rem; }

/*# sourceMappingURL=style.css.map */
