
$owl-image-path: '../images/';

@import 'owl.carousel/src/scss/core';
@import 'owl.carousel/src/scss/video';
@import 'owl.carousel/src/scss/animate';

.owl-carousel .owl-item img {
	display: inline-block;
	width: auto;
	max-width: 100%;
}

.slider-dots + .slider-nav {
	margin-left: map-get($spacers, 3);
}

.owl-item > .col {
	padding-left: 0;
	padding-right: 0;
}

.owl-carousel.owl-drag .owl-item {
	touch-action: auto;
}

.owl-dots {
	bottom: map-get($spacers, 3	);
	left: 0;
	margin: auto;
	right: 0;
	position: absolute;
	text-align: center;
}

.owl-dot,
.owl-carousel button.owl-dot {
	width:  0.75rem;
	height:  0.75rem;
	margin: map-get($spacers, 2);
	display: inline-block;
	vertical-align: middle;
	background: $outline-base;
	padding: 0;
	border: 0;
	outline: 0;
	border-radius: 0.375rem;
	transition: width .25s ease,background .25s ease;
	cursor: pointer;

	&.active {
		background: theme-color('primary');
	}

	&:focus,
	&:active {
		border: 0;
		outline: 0;
	}
}

.owl-carousel {
	.owl-nav {

		button.owl-prev.btn-opacity-dark,
		button.owl-next.btn-opacity-dark {
			@extend .btn-opacity-dark;
		}

		button.owl-prev,
		button.owl-next {
			width: 3.625rem;
			height: 3.625rem;
			margin: -1.8125rem map-get($spacers, 3) 0;
			line-height: 0;
			cursor: pointer;
			display: inline-flex;
			text-align: center;
			justify-content: center;
			align-items: center;
			padding: 0;
			position: absolute;
			top: 50%;

			&:focus,
			&:active {
				outline: 0;
			}
		}

		button.owl-prev {
			left: 0;
		}

		button.owl-next {
			right: 0;
		}
	}

	&:hover .owl-nav {
		display: block;
	}

	.owl-nav,
	&:hover .owl-nav.disabled {
		display: none;
	}
}

// .slider-nav-sm {
// 	display: none;
// 	justify-content: flex-end;
// 	min-height: 2.38rem;

// 	.owl-prev,
// 	.owl-next {
// 		margin: 0;
// 		border-radius: 0;
// 		border: 0;
// 	}
// }

// @include media-breakpoint-down(sm) {
// 	.slider-nav {
// 		display: none;
// 	}
// 	.slider-dots {
// 		display: none;
// 	}
// 	.slider-nav-sm {
// 		display: flex;
// 	}
// }
