.product-item-line-list + .product-item-line-list {
  margin-top: -1px; }

.b-cart-ajax__tools-remove {
  width: 55px;
  height: 55px;
  background-color: #EFEFEF;
  color: #6c757d; }

.b-cart-ajax__tools-remove:hover, .b-cart-ajax__tools-remove:active, .b-cart-ajax__tools-remove:focus {
  color: #d5001c; }

/*# sourceMappingURL=style.css.map */
