@import '../../../../resources/sass/variables';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import '../../../../resources/sass/snippets/all';


.menu-line {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;

	> li {
		display: block;
		margin: map-get($spacers, 3) 0;
		padding: map-get($spacers, 1) 0;

		@include media-breakpoint-up(md) {
			padding: 0;
			

			&:not(:last-child) {
				margin-right: map-get($spacers, 6);
			}

			display: inline-block;
		}
	}
}