.lead {
  margin-bottom: 1rem;
  margin-top: 1rem; }

.accent {
  color: #000;
  font-size: 1.3rem;
  letter-spacing: 0.005em;
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-top: 1rem; }
  @media (min-width: 768px) {
    .accent {
      font-size: 1.4rem; } }

.mw-900,
.lead.mw-900,
.accent.mw-900 {
  max-width: 900px; }

/*# sourceMappingURL=styles.css.map */
