@import 'resources/sass/variables';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'resources/sass/snippets/all';

.lead {
	margin-bottom: map-get($spacers, 3);
	margin-top: map-get($spacers, 3);
}

.accent {
	color: $black;
	font-size: $font-size-base * 1.3;
	letter-spacing: 0.005em;
	line-height: 1.4;
	margin-bottom: map-get($spacers, 3);
	margin-top: map-get($spacers, 3);
	@include media-breakpoint-up(md) {
		font-size: $font-size-base * 1.4;
	}
}


.mw-900,
.lead.mw-900,
.accent.mw-900 {
	max-width: 900px;
}