.b-error-page {
  text-align: center;
  padding-bottom: 1.875rem;

  @include media-breakpoint-up(sm)
  {
    padding-bottom: 5.9375rem;
  }
}

.b-error-page__code {
  margin-bottom: 1.3125rem;
}

.b-error-page__img {
  display: inline-block;
  width: 100%;

  @include media-breakpoint-up(sm)
  {
    width: auto;
  }

}

.b-error-page__title {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.167;
  color: #333333;
  font-weight: bold;
  margin-bottom: 1rem;

  @include media-breakpoint-up(xs)
  {
    font-size: 1.5rem;
    line-height: 1.167;
  }

  @include media-breakpoint-up(sm)
  {
    font-size: 2.25rem;
    line-height: 1.25;
  }

  @include media-breakpoint-up(md)
  {
    font-size: 2.875rem; 
    line-height: 1.56;
    margin-bottom: 0.85rem;
  }

  @include media-breakpoint-up(xl)
  {
    font-size: 2.875rem;
    line-height: 1.56;
    margin-bottom: 0.35rem;
  }
}

.b-error-page__note {
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 1.85;
  color: #333333;
  font-weight: 300;
  width: 100%;
  margin: 0 auto 1.8rem;

  @include media-breakpoint-up(xs)
  {
    font-size: 1.125rem;
    line-height: 1.85;
  }

  @include media-breakpoint-up(sm)
  {
    font-size: 1.3125rem;
    line-height: 1.65;
  }

  @include media-breakpoint-up(md)
  {
    font-size: 1.3125rem; 
    line-height: 1.65;
    width: 70%;
  }

}
