.main-screen {
  background-image: url(/include/welcome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;

  /*
  @media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2){
    height: 150vh;
  }

  @media only screen and (min-width: 568px) and (max-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2){
    height: 150vh;
  }

  @media only screen  and (min-width : 375px) and (max-height : 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio : 3) { 
    height: 150vh;
  }
  */

  @include media-breakpoint-up(lg)
    {
      display: block;
      //height: 100vh;
    }
}


.main-screen__container {

  padding: 5rem 0;

  @include media-breakpoint-up(md)
  {
    padding: 10rem 0;
  }
  
  @include media-breakpoint-up(lg)
  {
    padding: 15rem 0;
  }

}

.main-screen__content h1 {
  font-family: 'Montserrat';
  font-weight: bold;
  margin-bottom: 1.225rem;

}

.main-screen__content p {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: $font-size-xxs;
  letter-spacing: 0.25px;

  @include media-breakpoint-up(xs)
    {
      font-size: $font-size-base;
    }

  @include media-breakpoint-up(md)
    {
      font-size: $font-size-md;
    }

  @include media-breakpoint-up(lg)
    {
      font-size: $font-size-lg;
    }

}

.body--dark .main-screen__content {
  color:#fff;
}


.l-main-menu {
  background: #333333 !important;
}

.container,
.container_mx {
  @include media-breakpoint-down(lg) { padding: 0 3rem; }
  @include media-breakpoint-down(xs) { padding: 0 2rem; }
}


// // @media (orientation: landscape) {
// //   .main-screen {
// //     min-height: 130vh;
// //     height: 100%;
// //   }
// }
