.ff-open_sans body {
	font-family: 'Open Sans', sans-serif;
}

.ff-pt_sans body {
	font-family: 'PT Sans', sans-serif;
}

.ff-roboto body {
	font-family: 'Roboto', sans-serif;
}

.fs-small {
	font-size: 14px;
}

.fs-big {
	font-size: 18px;
}