$hamburger-padding-x: 0.875rem !default;
$hamburger-padding-y: 1.0625rem !default;
$hamburger-layer-width: 1.125rem !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-spacing: 4px !default;
$hamburger-layer-color: $white !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 0.7 !default;
$hamburger-hover-filter : opacity(50%) !default;
$hamburger-hover-transition-duration: 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

.hamburger {
	background: transparent;
	border: 1px solid;
	padding: $hamburger-padding-y $hamburger-padding-x;
	// display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: $hamburger-hover-transition-duration;
	transition-timing-function: $hamburger-hover-transition-timing-function;

	// Normalize (<button>)
	// font: inherit;
	// color: inherit;
	// text-transform: none;
	// overflow: visible;

	@include hover-focus-active {
		outline: 0;
	}

	&__box {
		width: $hamburger-layer-width;
		height: $hamburger-layer-height * 2 + $hamburger-layer-spacing * 2;
		display: block;
		position: relative;
	}

	&__inner {
		display: block;
		top: 50%;
		margin-top: $hamburger-layer-height / -2;

		&,
		&::after,
		&::before {
			width: $hamburger-layer-width;
			height: $hamburger-layer-height;
			background-color: currentColor;
			border-radius: $hamburger-layer-border-radius;
			position: absolute;
			transition-property: transform;
			transition-duration: 0.15s;
			transition-timing-function: ease;
		}

		&::after,
		&::before {
			content: "";
			display: block;
		}

		&::before {
			top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
		}

		&::after {
			bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
		}
	}


	&--text &__text {
		display: inline-block;
		font-weight: bold;
		margin-right: .63rem
	}

	&--text:hover {
		filter: none;
	}
}

.hamburger--squeeze {
	.hamburger__inner {
		transition-duration: 0.075s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

		&::before {
			transition: top 0.075s 0.12s ease, opacity 0.075s ease;
		}

		&::after {
			transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
	}

	&.is-active {
		.hamburger__inner {
			transform: rotate(45deg);
			transition-delay: 0.12s;
			transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

			&::before {
				top: 0;
				opacity: 0;
				transition: top 0.075s ease, opacity 0.075s 0.12s ease;
			}

			&::after {
				bottom: 0;
				transform: rotate(-90deg);
				transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
			}
		}
	}
}
