.c-icon-count {

	position: relative;
	transition: .2s;

	&__quantity &:after {
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		content: '';
		box-sizing: content-box;
	}
	&--effect1 &__quantity:after {
		top: 0;
		left: 0;
		padding: 0;
		z-index: -1;
		box-shadow: 0 0 0 2px transparent;
		opacity: 0;
		transform: scale(0.4);
	}


	&--effect1 &__quantity:hover:after {
		animation: sonarEffect 0.5s ease-out 75ms;
	}

	&__quantity {
		display: none;
		position: absolute;
		top: -.25rem;
		right: -.25rem;
		font-size: .75rem;
		background: theme-color('primary');
		padding: .25rem .25rem;
		border-radius: 1.5rem;
		color: #fff;
		// min-height: 1.5rem;
		// min-width: 1.5rem;
		text-align: center;
	}

	&.has-items &__quantity {
		display: block;
	}

	&.has-items:hover {
		// transform: scale(1);
		// color: theme-color('primary');
	}
}

@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 3px 3px transparentize(theme-color('primary'), 0.4), 0 0 0 3px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 3px 3px transparentize(theme-color('primary'), 0.4), 0 0 0 3px rgba(255,255,255,0.5);
		transform: scale(1);
		opacity: 0;
	}
}
