.snippet-list-numeric {
    list-style: none;
    &__line {
        min-width: 36px;
        width: 36px;
        height: 2px;
        background-color: $primary;
    }
    &__number {
        font-size: $form-group-margin-bottom;
        color: $primary;
        padding: $input-btn-padding-y-sm $input-btn-padding-y-sm;
        width: $form-group-margin-bottom;
    }
}