html,
body,
div,
span,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none !important; }

html, body {
  height: 100%;
  box-sizing: border-box; }

button {
  outline: none !important; }

body {
  height: 100%;
  background: white;
  font-family: 'PT Sans Caption', sans-serif;
  color: #4d4d4d;
  line-height: 1.6;
  width: 100%;
  min-width: 1170px;
  margin: 0; }

h1, .h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0; }

h2, .h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  text-transform: uppercase; }

h3, .h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  margin-bottom: 4px;
  margin-top: 15px; }

header {
  position: relative;
  z-index: 6000; }

.wrap_left_background {
  background: none !important; }

.service_spisok {
  margin-top: 10px; }

.container {
  width: 1170px !important;
  max-width: none !important; }

.header .container {
  width: auto !important;
  max-width: none !important; }

.title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0; }

.color_cell {
  background: #2aa371;
  color: white;
  font-size: 13px;
  padding: 1px 4px;
  vertical-align: middle;
  padding-left: 14px; }

.wrap_center {
  padding-top: 15px; }
  .wrap_center table {
    width: 100%;
    margin-top: 11px;
    table-layout: fixed;
    font-size: 13px;
    margin-bottom: 20px; }
    .wrap_center table th {
      border-right: 2px solid white; }
    .wrap_center table tr:nth-of-type(1) {
      background: #15865d;
      color: white;
      border: 1px solid white; }
      .wrap_center table tr:nth-of-type(1) th {
        vertical-align: middle;
        padding-left: 14px; }
      .wrap_center table tr:nth-of-type(1) th:nth-of-type(1) {
        width: 83px;
        padding: 22px 4px;
        text-align: center; }
      .wrap_center table tr:nth-of-type(1) th:nth-of-type(2) {
        width: 290px; }
    .wrap_center table tr:nth-of-type(2n) td {
      background: #e6e6e6;
      padding-left: 14px;
      font-size: 13px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-right: 2px solid white; }
    .wrap_center table tr:nth-of-type(2n) td:nth-of-type(1) {
      text-align: center;
      padding-left: 0px;
      color: #15865d; }
    .wrap_center table tr:nth-of-type(2n+1) td {
      background: #f7f7f7;
      padding-left: 14px;
      font-size: 13px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-right: 2px solid white; }
    .wrap_center table tr:nth-of-type(2n+1) td:nth-of-type(1) {
      text-align: center;
      padding-left: 0px;
      color: #15865d; }
    .wrap_center table tr:last-child td {
      border-bottom: 2px solid #15865d; }
  .wrap_center img {
    float: left;
    margin-right: 33px;
    margin-bottom: 21px;
    margin-top: 8px; }
  .wrap_center p {
    line-height: 1.7;
    margin-bottom: 5px; }
  .wrap_center ul {
    margin-bottom: 17px; }
    .wrap_center ul li {
      position: relative;
      font-size: 14px;
      list-style: none;
      padding-left: 20px;
      margin-bottom: 2px; }
      .wrap_center ul li::before {
        content: "";
        background: url(../i/sprite.png);
        position: absolute;
        background-position: -5px -144px;
        width: 14px;
        height: 12px;
        left: -1px;
        top: 6px; }
      .wrap_center ul li ul {
        margin-top: 2px;
        margin-bottom: 0px; }
        .wrap_center ul li ul li::before {
          background: #e41867 !important;
          width: 5px !important;
          height: 5px !important;
          left: 2px !important;
          top: 9px !important; }
        .wrap_center ul li ul li ul li::before {
          background: #15865d !important;
          border-radius: 50%; }
  .wrap_center ol {
    list-style-type: none;
    counter-reset: item;
    margin-bottom: 20px; }
    .wrap_center ol li {
      position: relative;
      font-size: 14px;
      list-style: none;
      padding-left: 20px;
      margin-bottom: 2px; }
      .wrap_center ol li::before {
        content: counter(item);
        counter-increment: item;
        position: absolute;
        top: 0px;
        left: 0px;
        color: #15865d; }

.contact_select .jq-selectbox__dropdown {
  top: 40px;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0 !important; }

.contact_select .jq-selectbox__trigger {
  border: 0 !important; }

.jq-selectbox.contact_select li:hover, .jq-selectbox li.selected {
  background-color: #ffffff !important;
  color: #4d4d4d !important; }

.contact_select li {
  background-color: #e3f0eb !important;
  color: #4d4d4d !important;
  font-size: 14px !important;
  padding: 8px 10px 7px !important; }

.contact_select .jq-selectbox__select {
  border: 1px solid #cecece !important;
  height: 43px !important;
  width: 100% !important;
  display: block !important;
  padding: 5px 10px  !important;
  outline: none !important;
  background: white !important;
  box-shadow: none !important;
  border-radius: 0 !important; }

.contact_select .jq-selectbox__select-text {
  color: #9f9f9f !important; }

.jq-selectbox.contact_select {
  width: 100%; }

.contact_select.opened .jq-selectbox__trigger-arrow::before {
  background-position: -72px -133px !important;
  width: 18px !important;
  height: 13px !important;
  left: -18px !important;
  top: 1px !important; }

.contact_select .jq-selectbox__trigger-arrow {
  border: 0 !important; }
  .contact_select .jq-selectbox__trigger-arrow::before {
    content: "";
    background: url(../i/sprite.png);
    position: absolute;
    background-position: -72px -153px;
    width: 18px;
    height: 13px;
    left: -18px;
    top: 1px; }

.jq-selectbox.project_filter_select.opened .jq-selectbox__trigger-arrow::before {
  background-position: -99px -134px;
  width: 11px !important;
  height: 9px !important;
  left: -2px;
  top: -6px; }

.project_filter {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 34px;
  right: 20px;
  padding: 4px 10px 3px;
  border: 1px solid #ececec;
  border-radius: 7px;
  -webkit-box-shadow: inset 0px 0px 8px -2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: inset 0px 0px 8px -2px rgba(0, 0, 0, 0.14);
  box-shadow: inset 0px 0px 8px -2px rgba(0, 0, 0, 0.14); }

.jq-selectbox.project_filter_select {
  border: 0;
  outline: 0 !important;
  box-shadow: none !important; }
  .jq-selectbox.project_filter_select .jq-selectbox__select {
    background: #73b69e;
    background: -moz-linear-gradient(top, #73b69e 0%, #4aa181 100%);
    background: -webkit-linear-gradient(top, #73b69e 0%, #4aa181 100%);
    background: linear-gradient(to bottom, #73b69e 0%, #4aa181 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73b69e', endColorstr='#4aa181',GradientType=0 );
    border: 0 !important;
    outline: 0 !important;
    padding: 0 14px 0 7px  !important;
    box-shadow: none !important;
    height: 24px !important;
    font: 16px/25px 'PT Sans Caption', sans-serif !important; }
  .jq-selectbox.project_filter_select .jq-selectbox__trigger {
    border: 0 !important; }
  .jq-selectbox.project_filter_select .jq-selectbox__select-text {
    color: white;
    font-weight: bold;
    font-size: 16px;
    height: 24px !important;
    width: auto !important;
    text-shadow: 1px 1px 2px #15865d; }
  .jq-selectbox.project_filter_select .jq-selectbox__dropdown {
    margin-top: 1px !important; }
    .jq-selectbox.project_filter_select .jq-selectbox__dropdown li::before {
      width: 0 !important;
      height: 0 !important; }
    .jq-selectbox.project_filter_select .jq-selectbox__dropdown li:hover, .jq-selectbox.project_filter_select .jq-selectbox__dropdown .jq-selectbox li.selected {
      background-color: #ffffff !important;
      color: #4d4d4d !important; }
    .jq-selectbox.project_filter_select .jq-selectbox__dropdown li {
      background-color: #e3f0eb !important;
      color: #4d4d4d !important;
      font-size: 14px !important;
      padding: 8px 10px 7px !important;
      border: 0 !important;
      margin-bottom: 0 !important; }
  .jq-selectbox.project_filter_select .jq-selectbox__trigger-arrow {
    border: 0 !important; }
    .jq-selectbox.project_filter_select .jq-selectbox__trigger-arrow::before {
      content: "";
      background: url(../i/sprite.png);
      position: absolute;
      background-position: -99px -153px;
      width: 11px;
      height: 9px;
      left: -2px;
      top: -6px; }

.press_center_link {
  margin-top: 22px;
  margin-bottom: 22px !important; }
  .press_center_link li {
    padding-left: 0 !important;
    margin-bottom: 7px !important; }
    .press_center_link li::before {
      width: 0 !important;
      height: 0 !important; }
    .press_center_link li a {
      color: #15865d;
      text-decoration: underline;
      font-weight: bold; }
      .press_center_link li a:hover {
        text-decoration: none; }

.pagination_list {
  padding-top: 11px; }
  .pagination_list .number_page {
    color: #909090;
    font-size: 12px;
    margin-bottom: 8px; }
  .pagination_list ul li {
    display: inline-block;
    padding-left: 0px;
    margin-right: -2px; }
    .pagination_list ul li::before {
      width: 0 !important;
      height: 0 !important; }
    .pagination_list ul li .active {
      color: white;
      background: #73b69e;
      background: -moz-linear-gradient(top, #73b69e 0%, #4aa181 100%);
      background: -webkit-linear-gradient(top, #73b69e 0%, #4aa181 100%);
      background: linear-gradient(to bottom, #73b69e 0%, #4aa181 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73b69e', endColorstr='#4aa181',GradientType=0 );
      border: 1px solid #7bc4aa !important; }
    .pagination_list ul li a {
      display: block;
      min-width: 28px;
      height: 28px;
      border: 1px solid #7bc4aa;
      border-radius: 5px;
      text-align: center;
      padding-top: 2px;
      text-decoration: none;
      color: #15865d; }
      .pagination_list ul li a:hover {
        border: 1px solid #15865d; }

.service_project--content {
  border: 0 !important; }
  .service_project--content .item {
    margin-bottom: 23px !important; }

.service_project {
  padding-top: 8px;
  margin-top: 27px;
  border-top: 1px dotted #cecece;
  margin-bottom: 22px; }
  .service_project .h2 {
    margin-bottom: 26px; }
  .service_project .item {
    margin-bottom: 10px;
    display: table; }
    .service_project .item .link {
      display: inline-block;
      color: #7bc4aa;
      font-size: 10px;
      text-transform: uppercase;
      padding: 3px 12px 2px;
      border: 1px solid #7bc4aa;
      border-radius: 16px;
      margin-top: 7px; }
      .service_project .item .link:hover {
        text-decoration: none;
        border: 1px solid #15865d;
        color: #15865d; }
    .service_project .item .item--description {
      display: table-cell;
      vertical-align: top;
      padding-left: 18px; }
      .service_project .item .item--description .name {
        font-size: 16px;
        color: #15865d;
        font-weight: bold; }
        .service_project .item .item--description .name:hover {
          text-decoration: underline; }
      .service_project .item .item--description .text {
        line-height: 1.5;
        font-size: 14px; }
    .service_project .item .item--img {
      display: table-cell;
      vertical-align: middle;
      width: 97px;
      height: 97px;
      border: 1px solid #ebebeb;
      line-height: 0;
      padding: 0 3px; }
      .service_project .item .item--img img {
        float: none !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 100%; }

.news_list {
  padding-top: 8px;
  margin-top: 27px;
  margin-bottom: 22px; }
  .news_list .data {
    font-size: 14px; }
  .news_list .h2 {
    margin-bottom: 26px; }
  .news_list .item {
    margin-bottom: 20px;
    display: table; }
    .news_list .item .link {
      display: inline-block;
      color: #7bc4aa;
      font-size: 10px;
      text-transform: uppercase;
      padding: 3px 12px 2px;
      border: 1px solid #7bc4aa;
      border-radius: 16px;
      margin-top: 7px; }
      .news_list .item .link:hover {
        border: 1px solid #15865d;
        color: #15865d;
        text-decoration: none; }
    .news_list .item .item--description {
      display: table-cell;
      vertical-align: top;
      padding-left: 18px; }
      .news_list .item .item--description .name {
        font-size: 16px;
        color: #15865d;
        font-weight: bold; }
      .news_list .item .item--description .text {
        line-height: 1.5;
        font-size: 14px; }
    .news_list .item .item--img-cell {
      display: table-cell;
      height: 100%;
      width: 100%;
      vertical-align: middle;
      line-height: 0; }
    .news_list .item .item--img {
      display: table;
      width: 97px;
      height: 97px;
      border: 1px solid #ebebeb; }
      .news_list .item .item--img img {
        float: none !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 100%; }

.publication_list {
  padding-top: 8px;
  margin-top: 27px;
  margin-bottom: 22px; }
  .publication_list .data {
    font-size: 14px; }
  .publication_list .h2 {
    margin-bottom: 26px; }
  .publication_list .item {
    margin-bottom: 20px;
    display: table; }
    .publication_list .item .link {
      display: inline-block;
      color: #7bc4aa;
      font-size: 10px;
      text-transform: uppercase;
      padding: 3px 12px 2px;
      border: 1px solid #7bc4aa;
      border-radius: 16px;
      margin-top: 7px; }
      .publication_list .item .link:hover {
        border: 1px solid #15865d;
        color: #15865d;
        text-decoration: none; }
    .publication_list .item .item--description {
      display: table-cell;
      vertical-align: top;
      padding-left: 18px; }
      .publication_list .item .item--description .name {
        font-size: 16px;
        color: #15865d;
        font-weight: bold; }
        .publication_list .item .item--description .name:hover {
          text-decoration: underline; }
      .publication_list .item .item--description .text {
        line-height: 1.5;
        font-size: 14px; }
    .publication_list .item .item--img-cell {
      display: table-cell;
      height: 100%;
      width: 100%;
      vertical-align: middle;
      line-height: 0; }
    .publication_list .item .item--img {
      display: table;
      /* vertical-align: middle; */
      width: 97px;
      height: 97px;
      border: 1px solid #ebebeb;
      /* line-height: 97px; */
      padding: 0 3px; }
      .publication_list .item .item--img img {
        float: none !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 100%; }

.news_main {
  width: 245px;
  float: right; }

.wrap_left_title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 245px;
  float: right; }

.map {
  /*    width: 100%;*/
  width: 847px;
  height: 370px;
  margin-top: 8px;
  border: 1px solid #e0dac7; }

.img_logo {
  float: none !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 40px !important;
  display: block;
  margin-bottom: 13px !important; }

.clients {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px dotted #cecece;
  border-bottom: 1px dotted #cecece;
  margin-bottom: 26px; }

.partners {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px dotted #cecece;
  border-bottom: 1px dotted #cecece;
  margin-bottom: 26px; }

.partner_list {
  margin-top: 30px; }
  .partner_list li {
    width: 180px;
    padding: 0 !important;
    display: inline-block;
    vertical-align: top;
    margin: 0 14px 25px !important; }
    .partner_list li a {
      width: 100%;
      height: 100%;
      display: block; }
      .partner_list li a .img_box {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0 3px;
        line-height: 0;
        position: relative;
        margin-bottom: 2px; }
        .partner_list li a .img_box::before {
          content: "";
          background: url(../i/line.png);
          position: absolute;
          width: 100%;
          height: 6px;
          bottom: -2px; }
    .partner_list li .img_logo {
      margin-left: auto !important;
      margin-right: auto !important;
      width: 100%;
      margin-bottom: 0 !important;
      margin-top: 0 !important; }
    .partner_list li .name {
      font-size: 14px;
      color: #15865d;
      font-weight: bold;
      text-align: center;
      display: block;
      padding-top: 4px; }
    .partner_list li .description {
      color: #909090;
      font-size: 12px;
      text-decoration: none !important;
      line-height: 1.2;
      display: block;
      text-align: center; }
    .partner_list li::before {
      width: 0 !important;
      height: 0 !important; }

.partner_list--mod--content {
  margin: 0 !important;
  padding-top: 0 !important;
  border: 0 !important; }

.partner_list--mod {
  margin: 0 !important;
  padding-top: 0 !important;
  border-top: 0 !important; }
  .partner_list--mod .partner_list {
    margin-top: 10px; }
  .partner_list--mod li {
    margin: 0 14px 15px !important; }

.client_list {
  margin-top: 30px; }
  .client_list li {
    width: 180px;
    padding: 0 !important;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 14px 25px !important; }
    .client_list li a {
      width: 100%;
      height: 100%;
      display: block; }
      .client_list li a .img_box {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0 3px;
        line-height: 0;
        position: relative;
        margin-bottom: 2px; }
        .client_list li a .img_box::before {
          content: "";
          background: url(../i/line.png);
          position: absolute;
          width: 100%;
          height: 6px;
          bottom: -2px; }
    .client_list li .img_logo {
      margin-left: auto !important;
      margin-right: auto !important;
      width: 100%;
      margin-bottom: 0 !important;
      margin-top: 0 !important; }
    .client_list li .name {
      font-size: 14px;
      color: #15865d;
      font-weight: bold;
      text-align: center;
      display: block;
      padding-top: 4px; }
    .client_list li::before {
      width: 0 !important;
      height: 0 !important; }

.client_list--mod {
  padding-top: 10px; }
  .client_list--mod .client_list {
    margin-top: 12px !important; }

.client_list--mod--content {
  border: 0 !important;
  padding-top: 0 !important; }
  .client_list--mod--content li {
    margin-bottom: 50px !important; }

.popul {
  display: none;
  width: 410px; }
  .popul .warning {
    font-size: 13px;
    color: #909090;
    margin-top: -5px; }
  .popul .form {
    border-top: 2px solid #239d71;
    margin-top: 14px;
    padding-top: 15px; }

.link_prev, .link_next, .link_spisok {
  display: inline-block;
  width: 32.9%; }

.pagination_buttom .link_prev a, .pagination_buttom .link_next a {
  font-size: 12px;
  color: #15865d;
  text-transform: uppercase;
  border: 1px solid #7bc4aa;
  border-radius: 5px;
  position: relative; }

.pagination_buttom .link_prev a {
  padding: 7px 12px 8px 4px;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 17px;
  height: 33px;
  display: inline-block; }
  .pagination_buttom .link_prev a:hover {
    border: 1px solid #15865d;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-decoration: none; }

.pagination_buttom .link_spisok {
  text-align: center; }

.pagination_buttom .link_prev a::after {
  content: " ";
  background: url(../i/sprite.png);
  position: absolute;
  background-position: -65px -5px !important;
  width: 16px;
  height: 34px;
  left: -14px;
  bottom: -2px; }

.pagination_buttom .link_prev a:hover::after {
  background-position: -108px -5px !important; }

.pagination_buttom .link_next a::after {
  content: " ";
  background: url(../i/sprite.png);
  position: absolute;
  background-position: -83px -5px !important;
  width: 16px;
  height: 34px;
  right: -14px;
  bottom: -2px; }

.pagination_buttom .link_next a:hover::after {
  background-position: -127px -5px !important; }

.pagination_buttom .link_next a {
  padding: 7px 4px 8px 12px;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 17px;
  display: inline-block;
  height: 33px; }
  .pagination_buttom .link_next a:hover {
    border: 1px solid #15865d;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-decoration: none; }

.pagination_buttom .link_next {
  text-align: right; }

.popul_certificate {
  width: 655px; }
  .popul_certificate .header_spisok {
    overflow: hidden;
    border-bottom: 3px solid #15865d;
    padding-bottom: 14px; }
    .popul_certificate .header_spisok .name, .popul_certificate .header_spisok .data {
      color: #909090;
      font-size: 13px; }
    .popul_certificate .header_spisok .name {
      float: left; }
    .popul_certificate .header_spisok .data {
      float: right; }
  .popul_certificate ul {
    margin-top: 13px; }
  .popul_certificate li {
    text-align: right;
    background: url(../i/dotted.png) 0 14px repeat-x;
    font-size: 14px;
    margin-bottom: 7px;
    list-style: none; }
  .popul_certificate li span {
    float: left;
    background: #fff;
    text-align: left;
    padding-right: 7px; }
  .popul_certificate .date {
    float: none;
    text-align: right;
    padding-right: 0px;
    padding-left: 7px; }

.form input {
  border: 1px solid #cecece;
  height: 43px;
  width: 100%;
  display: block;
  padding: 0 10px;
  outline: none;
  color: #9f9f9f; }

.form textarea {
  border: 1px solid #cecece;
  height: 160px;
  width: 100%;
  display: block;
  padding: 10px 15px;
  outline: none;
  resize: none; }

.fancybox_list .fancybox-skin {
  background: white !important;
  border-radius: 4px !important; }

.fancybox-close {
  background: url(../i/sprite.png) !important;
  background-position: -24px -131px !important;
  width: 38px !important;
  height: 38px !important; }

.fancybox-skin {
  background: white !important;
  border-radius: 0 !important; }

.form label {
  font-size: 14px;
  display: block;
  margin-bottom: 1px; }
  .form label span {
    color: #e41867;
    margin-left: 2px; }

.form fieldset {
  margin-bottom: 16px; }

.contact.buttom {
  margin-top: 38px;
  padding-left: 45px; }
  .contact.buttom::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0e0";
    border: 0;
    top: 9px !important;
    left: 21px;
    font-size: 14px; }

.contact_decscription {
  margin-bottom: 19px; }
  .contact_decscription dt {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px; }
  .contact_decscription dd {
    display: inline-block;
    font-size: 14px; }
  .contact_decscription .fa {
    width: 25px;
    color: #15865d; }

.left_menu {
  /*margin-top: 30px;*/
  position: relative;
  float: right;
  /*margin-bottom: 47px;*/
  margin-top: 43px;
  margin-bottom: 0px; }
  .left_menu .active span::before {
    position: absolute;
    top: 10px;
    left: 1px;
    height: calc(100% - 12px);
    border-left: 2px solid white;
    content: ""; }
  .left_menu span {
    padding-left: 14px;
    display: block;
    position: relative; }
  .left_menu ul {
    background: -moz-linear-gradient(top, rgba(21, 134, 93, 0) 0%, rgba(21, 134, 93, 0.01) 1%, rgba(21, 134, 93, 0.65) 100%, rgba(21, 134, 93, 0.65) 101%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(21, 134, 93, 0) 0%, rgba(21, 134, 93, 0.01) 1%, rgba(21, 134, 93, 0.65) 100%, rgba(21, 134, 93, 0.65) 101%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(21, 134, 93, 0) 0%, rgba(21, 134, 93, 0.01) 1%, rgba(21, 134, 93, 0.65) 100%, rgba(21, 134, 93, 0.65) 101%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0015865d', endColorstr='#a615865d',GradientType=0 );
    position: relative;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 14px;
    padding-bottom: 15px;
    width: 245px;
    padding-left: 15px;
    -webkit-box-shadow: 0px 0px 77px 0px rgba(0, 244, 155, 0.5);
    -moz-box-shadow: 0px 0px 77px 0px rgba(0, 244, 155, 0.5);
    box-shadow: 0px 0px 77px 0px rgba(0, 244, 155, 0.5); }
    .left_menu ul::before {
      position: absolute;
      display: block;
      opacity: 0.57;
      width: 100%;
      height: 100%;
      background: #00935e;
      content: "";
      left: 0;
      top: 0px;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px; }
    .left_menu ul li {
      list-style: none; }
      .left_menu ul li::after {
        /*content: "";
                    width:5px;
                    height: 5px;
                    content: "";
                    width: 8px;
                    height: 8px;
                    display: block;
                    position: absolute;
                    top: 14px;
                    border-radius: 50%;
                    border: 1px solid white;
                    left: -2px;*/ }
      .left_menu ul li a {
        color: white;
        font-size: 17px;
        text-decoration: none;
        position: relative;
        display: block;
        padding: 8px 0px;
        text-shadow: 1px 1px 2px #15865d;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1.2;
        font-weight: bold; }
        .left_menu ul li a:hover::before {
          background: white; }
        .left_menu ul li a::before {
          content: "";
          width: 5px;
          height: 5px;
          content: "";
          width: 8px;
          height: 8px;
          display: block;
          position: absolute;
          top: 14px;
          border-radius: 50%;
          border: 1px solid white;
          left: -1px; }
      .left_menu ul li .active::before {
        background: white; }
      .left_menu ul li .active::after {
        content: " ";
        background: url(../i/sprite.png);
        position: absolute;
        background-position: -7px -169px !important;
        width: 100%;
        height: 21px;
        left: 2px;
        bottom: -4px; }

.service_spisok li::before {
  content: "";
  background: url(../i/sprite.png);
  position: absolute;
  background-position: -7px -156px !important;
  width: 14px;
  height: 12px;
  left: 0px;
  top: 6px; }

.service_spisok li a {
  font-size: 14px;
  color: #15865d;
  font-weight: bold; }

.buttom_form {
  display: inline-block !important;
  min-width: 136px;
  border: 0 !important;
  height: auto !important;
  padding: 7px 0px 6px 0px !important;
  text-align: center;
  margin-top: 13px;
  cursor: pointer;
  width: auto !important; }

.buttom {
  font-size: 12px;
  position: relative;
  color: white !important;
  display: inline-block;
  text-transform: uppercase;
  padding: 7px 19px 6px 26px;
  border-radius: 3px;
  text-decoration: none;
  background: #73b69e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #73b69e 0%, #4aa181 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #73b69e 0%, #4aa181 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #73b69e 0%, #4aa181 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73b69e', endColorstr='#4aa181',GradientType=0 ); }
  .buttom::before {
    content: " ";
    position: absolute;
    border: 4px solid transparent;
    border-right: 5px solid white;
    top: 12px;
    left: 9px; }
  .buttom:hover {
    color: white !important;
    background: #47a281;
    /* Old browsers */
    background: -moz-linear-gradient(top, #47a281 0%, #297b5d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #47a281 0%, #297b5d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #47a281 0%, #297b5d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47a281', endColorstr='#297b5d',GradientType=0 );
    text-decoration: none; }

.service_catalog {
  padding-top: 16px;
  border-top: 1px dotted #cecece;
  margin-top: 22px; }

.service_catalog_item {
  border-bottom: 1px dotted #cecece;
  margin-bottom: 13px; }
  .service_catalog_item .name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 6px; }
    .service_catalog_item .name span {
      margin-left: 6px; }
  .service_catalog_item img {
    float: none !important;
    margin: 0 !important;
    vertical-align: -10px;
    margin-right: 7px;
    display: inline-block; }
  .service_catalog_item ul li::before {
    content: "";
    background: url(../i/sprite.png);
    position: absolute;
    background-position: -7px -156px !important;
    width: 14px;
    height: 12px;
    left: 0px;
    top: 6px; }
  .service_catalog_item ul li a {
    font-size: 14px;
    color: #15865d;
    font-weight: bold; }

.wrap {
  height: auto;
  min-height: 100%;
  padding-bottom: 128px;
  overflow: hidden; }

.service_main {
  font-size: 0;
  margin-top: -10px; }
  .service_main li {
    list-style: none;
    width: 20%;
    text-align: center;
    display: inline-block;
    vertical-align: top; }
    .service_main li a {
      font-size: 19px;
      color: #15865d;
      font-weight: bold;
      line-height: 1.2; }
    .service_main li span {
      display: block;
      margin-top: 13px; }

footer {
  background-image: url("../i/footer_fon.png");
  margin-top: -128px;
  background-repeat: no-repeat;
  background-size: cover; }

.footer_top {
  overflow: hidden;
  border-bottom: 1px solid #a09e9f;
  padding-top: 33px;
  padding-bottom: 60px; }

.footer_info_string {
  margin-bottom: 10px; }

.footer_info {
  color: white;
  font-size: 13px;
  display: inline-block;
  width: 25%; }
  .footer_info img {
    margin-bottom: 20px; }
  .footer_info .fa {
    color: #15865d;
    font-size: 18px;
    margin-right: 21px;
    width: 10px; }

.footer_menu {
  width: 74.5%;
  display: inline-block;
  vertical-align: top; }
  .footer_menu .footer_menu_title {
    color: #f6f6f6; }
  .footer_menu ul {
    margin-top: 5px;
    line-height: 1.5; }
    .footer_menu ul li {
      list-style: none; }
    .footer_menu ul a {
      color: #949394;
      font-size: 14px;
      display: block; }
      .footer_menu ul a:hover {
        text-decoration: none;
        color: #dddddd; }
.footer_menu_box {
  display: inline-block;
  width: 16%;
  vertical-align: top; }

.footer_bottom {
  overflow: hidden;
  padding-top: 17px;
  padding-bottom: 17px; }

.logo {
  display: block;
  float: left; }

.main_menu {
  font-size: 13px;
  float: left;
  margin-left: 66px;
  padding-top: 13px;
  margin-right: 20px; }
  .main_menu li {
    list-style: none;
    display: inline-block;
    position: relative; }
    .main_menu li:hover > .under_menu_box {
      display: block; }
    .main_menu li a {
      text-transform: uppercase;
      color: #4d4d4d;
      text-decoration: none;
      font-size: 13px;
      padding: 10px 10px;
      font-weight: 600;
      display: block; }
    .main_menu li a:hover {
      color: #15865d; }

.under_menu_box {
  position: absolute;
  top: 24px;
  width: 190px;
  left: 8px;
  display: none;
  padding-top: 13px; }

.undermenu {
  -webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.09);
  border-top: 3px solid #15865d;
  position: relative;
  background: white;
  z-index: 100; }
  .undermenu::before {
    content: " ";
    position: absolute;
    top: -12px;
    border: 4px solid transparent;
    border-bottom: 5px solid #15865d;
    left: 10px; }
  .undermenu li {
    display: block; }
    .undermenu li a {
      font-size: 13px;
      font-weight: normal;
      text-transform: none;
      padding: 8px 10px;
      display: block;
      border-bottom: 1px solid #15865d; }
      .undermenu li a:hover {
        background: #15865d;
        color: white; }

.header {
  padding-bottom: 10px;
  padding-top: 9px;
  padding-left: 16px;
  padding-right: 10px;
  height: 83px;
  clear: both;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.09); }

.active_main {
  color: #15865d !important; }

.not_found {
  float: none !important;
  margin-bottom: 21px !important;
  margin-top: -15px !important;
  width: 903px;
  margin-left: -46px !important; }

.search_header_box {
  margin-top: 19px;
  display: block;
  float: left;
  position: relative; }

.seach {
  display: none;
  position: absolute;
  top: 32px;
  left: -87px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.52); }
  .seach input {
    width: 192px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    outline: none;
    padding-bottom: 3px; }

.search_header {
  background: #15865d;
  border-radius: 50%;
  border: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: block; }
  .search_header .fa {
    color: white;
    vertical-align: 2px;
    font-size: 12px;
    transform: rotate(90deg); }

.search_header::before {
  vertical-align: 2px;
  content: " ";
  background: url("../i/sprite.png");
  width: 14px;
  height: 15px;
  position: absolute;
  top: 4px;
  background-position: -5px -24px;
  left: 7px; }

.info_header {
  float: right;
  padding-right: 25px; }
  .info_header .info_header_mail {
    font-size: 13px;
    color: #e41867;
    text-align: left;
    padding-left: 18px;
    line-height: 1.2;
    margin-top: 0px;
    display: block; }
    .info_header .info_header_mail a {
      color: #e41867;
      text-decoration: none; }
    .info_header .info_header_mail:hover {
      text-decoration: underline; }
    .info_header .info_header_mail i {
      margin-right: 5px; }
  .info_header .info_header_phone {
    font-size: 22px;
    font-weight: bold;
    padding-top: 3px;
    display: block; }

.header_english_box {
  float: right;
  padding-top: 19px;
  padding-right: 132px; }
  .header_english_box a {
    font-size: 11px;
    color: #15865d;
    text-decoration: underline;
    font-weight: bold;
    position: relative; }
    .header_english_box a:hover {
      text-decoration: none; }
    .header_english_box a::before {
      content: " ";
      background: url("../i/sprite.png");
      width: 21px;
      position: absolute;
      left: -29px;
      display: block;
      height: 15px;
      background-position: -1px -40px;
      top: -1px; }

.news_main li {
  display: block; }

.news_main .news_main_link {
  font-size: 13px;
  color: #15865d;
  text-decoration: none;
  margin-bottom: 4px;
  display: block;
  margin-top: 3px; }
  .news_main .news_main_link:hover {
    text-decoration: underline; }

.news_main .news_main_data {
  color: #909090;
  font-size: 11px; }

.news_main .news_main_text {
  font-size: 13px; }

.certificates {
  padding-top: 32px;
  padding-left: 37px;
  margin-left: -49px; }

.certificates_item {
  display: inline-block;
  margin: 0 47px;
  width: 188px;
  padding-left: 0 !important;
  vertical-align: top;
  position: relative;
  margin-bottom: 48px !important; }
  .certificates_item a {
    display: block;
    width: 100%; }
  .certificates_item .title {
    font-weight: bold;
    font-size: 14px !important;
    text-transform: inherit !important;
    color: #15865d;
    display: block;
    margin-top: 11px;
    text-align: center; }
  .certificates_item:hover .img_box {
    border: 1px solid #15865d;
    position: relative; }
  .certificates_item:hover .img_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background: white !important;
    display: block;
    opacity: 0.5; }
  .certificates_item:hover .img_box::after {
    content: "";
    position: absolute;
    width: 50px !important;
    height: 50px !important;
    background: url(../i/sprite.png);
    display: block;
    background-position: -4px -197px;
    opacity: 0.5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 38%;
    opacity: 1; }
  .certificates_item::before {
    content: "";
    width: 0px !important;
    height: 0px !important; }
  .certificates_item .img_box {
    padding: 3px !important;
    border: 1px solid #e5e5e5;
    display: block; }
  .certificates_item img {
    float: none !important;
    margin: 0 !important;
    display: block;
    width: 100%;
    height: auto; }

.main .wrap_content {
  /*padding-top: 69px;*/
  padding-bottom: 52px; }

.wrap_content {
  /*padding-top: 69px;*/
  padding-bottom: 70px; }
  .wrap_content p {
    font-size: 14px;
    text-align: justify; }

.main .wrap_left_title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  float: none !important;
  width: auto; }

.wrap_left_image {
  /*    background-image: url(../i/fon_left_menu.png);
    margin-left: -76px;
    background-repeat: no-repeat;
    overflow: hidden;*/ }

.main .wrap_center {
  padding-top: 70px; }

.main .wrap_left {
  /*  padding-top: 13px;
         padding-right: 17px;*/
  margin-left: 0px;
 /* background: none; */
  padding-top: 81px; }
  .main .wrap_left::before {
    width: 0px;
    height: 0px; }
  .main .wrap_left::after {
    width: 0px;
    height: 0px; }

.wrap_left {
  background-image: url(../i/fon_left_menu.png);
  margin-left: -76px;
  background-repeat: no-repeat;
  overflow: hidden;
  /*    width: 265px;
    float: right;*/ }
  .wrap_left::before {
    opacity: 1;
    width: 103px;
    background: white;
    height: 100%;
    content: "";
    right: -71px;
    display: block;
    z-index: 50;
    top: 0;
    position: absolute; }
  .wrap_left::after {
    opacity: 1;
    width: 120px;
    background: white;
    height: 90%;
    content: "";
    right: 32px;
    display: block;
    z-index: 1;
    top: 0;
    background: url(../i/left_right.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%; }

.wrap_left {
  /* padding-top: 43px;*/
  padding-right: 17px; }

.wrap_content .col-xs-9 {
  z-index: 60; }

.partners_main {
  margin-top: 40px; }

.main .news_main {
  margin-top: 12px;
  line-height: 1.4;
  margin-bottom: 22px;
  float: none;
  width: auto; }

.news_main {
  margin-top: 12px;
  line-height: 1.4;
  margin-bottom: 0px;
  padding-right: 15px; }
  .news_main li {
    display: block;
    margin-bottom: 20px; }

.under_left_menu .link_main {
  margin-left: 77px; }

.vacancies {
  margin-top: 28px; }

.lesslink::before {
  content: "-" !important;
  font-size: 13px;
  color: #15865d;
  font-weight: bold;
  display: inline-block;
  margin-right: 5px; }

.morelink::before {
  content: "+" !important;
  font-size: 13px;
  color: #15865d;
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
  vertical-align: -1px; }

.vacancies_item {
  padding-bottom: 25px; }
  .vacancies_item .link {
    text-decoration: none;
    color: #15865d;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px; }
    .vacancies_item .link span {
      color: #15865d;
      border-bottom: 1px dashed #15865d; }
  .vacancies_item .description .description_name {
    font-size: 14px;
    font-weight: bold; }
  .vacancies_item .description ul {
    margin-top: 1px;
    margin-bottom: 7px; }
    .vacancies_item .description ul li {
      margin-top: 1px; }
      .vacancies_item .description ul li::before {
        content: " ";
        width: 5px;
        height: 5px;
        background: #15865d;
        border-radius: 50%;
        display: block;
        left: 2px;
        top: 9px; }

.vacancies_item_title {
  background: #e3f0eb;
  line-height: 1.2;
  padding: 4px 0;
  padding-bottom: 6px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 9px; }
  .vacancies_item_title .name {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding-left: 12px;
    margin-right: 9px;
    /*font-family: 'PT Sans', sans-serif;*/ }
  .vacancies_item_title a {
    float: right;
    background: #73b69e;
    color: white;
    font-size: 10px;
    display: block;
    margin-top: -4px;
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    padding-top: 12px; }
    .vacancies_item_title a:hover {
      background: #449e7d; }
  .vacancies_item_title .salary {
    display: inline-block;
    color: #909090;
    font-size: 13px;
    vertical-align: 1px; }

.certificates_link {
  position: absolute;
  top: 28px;
  left: 451px; }

.link_main_margin {
  margin-top: 0 !important; }

.link_main {
  display: inline-block;
  background: #73b69e;
  text-align: center;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 12px;
  padding: 4px 12px 3px 12px;
  font-size: 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase; }
  .link_main:hover {
    color: white;
    background: #449e7d;
    text-decoration: none; }
  .link_main a {
    font-size: 10px;
    text-transform: uppercase;
    display: block;
    color: white;
    text-decoration: none; }

.parthers_main_list {
  font-size: 0;
  margin-top: 15px; }
  .parthers_main_list li {
    list-style: none;
    display: inline-block;
    width: 180px;
    margin-bottom: 23px;
    text-align: center;
    margin-left: 20px;
    padding-left: 0 !important;
    margin-right: 10px;
    margin-bottom: 20px !important; }
    .parthers_main_list li a {
      display: block;
      width: 100%;
      height: 100%; }
      .parthers_main_list li a img {
        margin: 0 !important;
        float: none !important;
        width: 100%; }
    .parthers_main_list li::before {
      width: 0px !important;
      height: 0px !important; }

.link_main_new {
  margin-top: 0px; }

.copyright {
  float: left;
  color: #8a8889;
  font-size: 12px; }

.webrost {
  float: right;
  color: #8a8889;
  font-size: 11px; }
  .webrost a {
    color: #8a8889;
    font-size: 11px;
    text-decoration: underline; }
    .webrost a::before {
      content: " ";
      background: url("../i/sprite.png");
      background-position: 2px 0px;
      width: 31px;
      height: 20px;
      display: inline-block;
      vertical-align: -5px; }
    .webrost a:hover {
      text-decoration: none; }

.link_main_inline {
  margin-top: 0;
  margin-left: 14px;
  vertical-align: 6px;
  z-index: 105;
  position: relative; }

.header_slider {
  padding-bottom: 32px;
  background-image: url("../i/fon_slider.jpg");
  position: relative; }
  .header_slider::before {
    content: url("../i/shadow_header.png");
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    text-align: center; }

.carousel_main_service .tracker-summation-container {
  display: none !important; }

.carousel_main_service .tracker-individual-container {
  transform: rotate(10deg);
  top: inherit;
  bottom: 96px !important;
  right: 622px; }

.carousel_main_service .tracker-individual-blip {
  background-color: white !important;
  font-size: 0;
  width: 7px !important;
  height: 7px !important;
  border-radius: 50%;
  border: 1px solid #73b69e;
  box-sizing: border-box;
  padding: 0 !important;
  margin: 0 6px !important; }

.carousel_main_service .tracker-individual-blip-selected {
  background-color: #73b69e !important; }

.carousel_main_service .carousel-feature {
  border: 0;
  box-sizing: content-box;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid white; }
  .carousel_main_service .carousel-feature .carousel-caption {
    position: fixed !important;
    bottom: 0;
    width: 560px !important;
    top: -45px !important;
    background-color: transparent !important;
    height: 300px !important;
    left: -440px;
    transform: rotate(10deg);
    text-shadow: none; }
  .carousel_main_service .carousel-feature .title {
    font-size: 33px;
    color: #363636;
    font-family: 'PT Sans', sans-serif;
    text-transform: inherit;
    text-align: left;
    line-height: 1.2;
    text-shadow: none;
    margin-bottom: 22px; }
  .carousel_main_service .carousel-feature .text {
    color: #4d4d4d;
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    text-shadow: none;
    font-weight: bold;
    padding-right: 40px; }
  .carousel_main_service .carousel-feature .carousel-feature_link {
    text-align: left;
    margin-top: 26px;
    font-family: 'PT Sans Caption', sans-serif; }
    .carousel_main_service .carousel-feature .carousel-feature_link .about {
      color: white;
      font-size: 12px;
      font-weight: bold;
      background: #e41867;
      text-transform: uppercase;
      text-decoration: none;
      padding: 7px 17px; }
      .carousel_main_service .carousel-feature .carousel-feature_link .about:hover {
        background: #fe3482; }
    .carousel_main_service .carousel-feature .carousel-feature_link .section {
      color: #e41867;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      border: 1px solid #e41867;
      padding: 6px 18px;
      margin-left: 10px; }
      .carousel_main_service .carousel-feature .carousel-feature_link .section:hover {
        border: 1px solid white;
        color: white; }

.carousel_main_service .carousel-image {
  border: 0;
  display: block;
  transform: rotate(10deg);
  border-radius: 50%; }

.carousel-container {
  position: relative;
  width: 100% !important;
  margin-bottom: -35px;
  /*overflow: hidden;*/ }

#carousel {
  height: 500px !important;
  width: 750px !important;
  background-color: transparent !important;
  position: relative;
  margin-bottom: 0.5em;
  font-size: 12px;
  font-family: Arial;
  transform: rotate(-10deg);
  margin-top: -14px;
  margin-left: 457px; }

#carousel-left {
  width: 40px;
  height: 70px;
  position: absolute;
  bottom: 185px !important;
  left: 544px !important;
  cursor: pointer;
  z-index: 100; }

#carousel-left::before {
  width: 40px;
  height: 70px;
  position: absolute;
  top: 0;
  content: "";
  background: url("../i/sprite.png");
  background-position: -2px -60px; }

#carousel-left:hover::before {
  background-position: -96px -60px; }

#carousel-right {
  width: 40px;
  height: 70px;
  position: absolute;
  bottom: 185px !important;
  right: 13px !important;
  cursor: pointer;
  z-index: 100; }

#carousel-right::before {
  width: 40px;
  height: 70px;
  position: absolute;
  top: 0;
  content: "";
  background: url("../i/sprite.png");
  background-position: -51px -60px; }

#carousel-right:hover::before {
  background-position: -139px -60px; }

.slider_before::before {
  content: " ";
  width: 400px;
  height: 62px;
  background-image: url("../i/slider_before.png");
  display: block; }

.slider_before {
  position: absolute;
  bottom: -57px;
  width: 400px;
  height: 66px;
  left: 641px; }

.presentation_absolute {
  position: absolute;
  top: 69px;
  right: 32px; }
  .presentation_absolute::before {
    left: -41px !important; }

.link_presentation {
  font-size: 14px;
  color: #e41867;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 110px;
  line-height: 1.4; }
  .link_presentation:hover {
    color: #e41867; }
  .link_presentation::before {
    content: "";
    background-image: url(../i/sprite.png);
    background-position: -29px 0px;
    width: 30px;
    height: 37px;
    display: block;
    position: absolute;
    left: 2px;
    top: 1px; }
  .link_presentation span {
    text-decoration: none; }
  .link_presentation i {
    font-size: 22px;
    vertical-align: -3px;
    margin-right: 9px;
    font-weight: normal; }

.banner {
  float: right; }

/*.wrap_left .wrap_left
{
        margin-left: 76px;
}*/
.presentation_relative {
  position: relative;
  width: 245px;
  float: right;
  padding-left: 45px;
  margin-bottom: 29px; }

.under_left_menu {
  margin-bottom: 52px;
  padding-top: 43px;
  float: right;
  /*padding-top:  47px;*/
  /*    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 12%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 12%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );*/
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 5%, white 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 5%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 5%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); }

.presentation_relative span {
  /*text-decoration: underline;*/
  width: 110px;
  display: block; }

.breadcrumbs {
  background-image: url(../i/fon_slider.jpg);
  position: relative;
  background-size: cover;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 13px;
  background-attachment: fixed; }

.breadcrumbs_list li:nth-child(1) a {
  padding: 2px 4px 2px 6px; }
  .breadcrumbs_list li:nth-child(1) a span::before {
    border-width: 0 !important; }
  .breadcrumbs_list li:nth-child(1) a span::after {
    border-width: 0 !important; }

.breadcrumbs_list li {
  list-style: none;
  display: inline-block;
  margin-right: 3px; }
  .breadcrumbs_list li a {
    font-size: 11px;
    color: white;
    text-decoration: none;
    background-color: rgba(77, 77, 77, 0.7);
    padding: 2px 4px 2px 4px;
    display: block;
    line-height: 1.2;
    position: relative;
    height: 16px; }
    .breadcrumbs_list li a span {
      padding: 0px 0px;
      position: relative; }
      .breadcrumbs_list li a span::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 4px 8px 0;
        border-color: transparent rgba(77, 77, 77, 0.7) transparent transparent;
        position: absolute;
        left: -8px;
        top: -2px; }
      .breadcrumbs_list li a span::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 8px 4px;
        border-color: transparent transparent rgba(77, 77, 77, 0.7) transparent;
        position: absolute;
        left: -8px;
        top: 6px; }
    .breadcrumbs_list li a:hover {
      background-color: #4d4d4d; }
      .breadcrumbs_list li a:hover span::after {
        border-color: transparent transparent #4d4d4d transparent; }
      .breadcrumbs_list li a:hover span::before {
        border-color: transparent #4d4d4d transparent transparent; }
      .breadcrumbs_list li a:hover::before {
        opacity: 1; }
    .breadcrumbs_list li a::before {
      content: '';
      position: absolute;
      border: 8px solid transparent;
      border-left: 4px solid #4d4d4d;
      opacity: 0.7;
      right: -12px;
      top: 0; }
  .breadcrumbs_list li span {
    font-size: 11px;
    padding: 2px 0px;
    display: block;
    line-height: 1.2;
    position: relative; }

.team_item:nth-child(2n) .team_description {
  order: 2;
  padding-right: 0px;
  padding-left: 21px; }

.team_item:nth-child(2n) .team_img {
  order: 1; }

.team_item:nth-child(2n)::before {
  content: "";
  background-image: url(../i/team_fon.png);
  display: block;
  position: absolute;
  width: 775px;
  height: 140px;
  z-index: -1;
  bottom: 0px;
  transform: scale(-1, 1); }

.team_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
  position: relative; }
  .team_item::before {
    content: "";
    background-image: url(../i/team_fon.png);
    display: block;
    position: absolute;
    width: 775px;
    height: 140px;
    z-index: -1;
    bottom: 0px; }

.publication_data {
  font-size: 14px;
  color: #9f9f9f;
  margin-top: 31px;
  margin-bottom: 6px; }

.pagination_buttom_margin {
  margin-top: 30px; }

.publication_link {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 9px; }
  .publication_link a {
    color: #15865d;
    text-decoration: underline; }
    .publication_link a:hover {
      text-decoration: none; }

.team_description {
  align-self: center;
  padding-right: 21px;
  width: 68%; }
  .team_description .name {
    font-size: 20px;
    font-weight: bold;
    color: #15865d; }
  .team_description .table-cell {
    display: table-cell; }
  .team_description .office {
    font-size: 16px;
    color: #15865d;
    margin-top: -4px;
    margin-bottom: 8px; }
  .team_description .text {
    font-size: 14px;
    text-align: justify; }

.team_img {
  /*display: table-cell;*/
  /*float:left;*/
  width: 270px;
  line-height: 0 !important; }
  .team_img img {
    float: none !important;
    margin: 0 !important; }
  .team_img .table-cell {
    display: table-cell; }

.download {
  margin-top: 3px; }
  .download i {
    margin-right: 10px;
    vertical-align: -2px; }
    .download i::before {
      font-size: 20px;
      color: #15865d; }

.download a {
  font-size: 14px;
  color: #15865d;
  text-decoration: underline;
  margin-right: 7px; }
  .download a:hover {
    text-decoration: none; }

#pmOverlay {
  display: block;
  position: absolute;
  /* top: -61px !important;
    left: -10px !important;*/
  top: -95px !important;
  left: -13px !important;
  /*     top: 103px !important;
left: -10px !important;*/
  width: 100%;
  opacity: 0.5;
  z-index: 9005; }

@media (max-width: 1700px) {
  .header_english_box {
    padding-right: 35px; }
  .main_menu {
    margin-left: 30px; } }

@media (max-width: 1570px) {
  .header .container {
    width: 1170px !important; }
  .header {
    height: 64px; }
  .logo {
    width: 174px;
    margin-top: 4px; }
    .logo img {
      width: 100%; }
  .main_menu li a {
    font-size: 11px;
    padding: 2px 4px; }
  .main_menu {
    margin-left: 22px;
    margin-right: 14px; }
  .search_header_box {
    margin-top: 11px; }
  .header_english span {
    display: none; }
  .info_header .info_header_phone {
    font-size: 17px;
    text-align: right;
    margin-bottom: -3px; }
  .info_header_mail i {
    display: none; }
  .info_header_mail {
    font-size: 12px; }
  .under_menu_box {
    top: 13px;
    left: 3px; }
  .undermenu li a {
    font-size: 13px;
    padding: 5px 10px; }
  .info_header {
    margin-top: -1px;
    padding-right: 0px; }
  .header_english_box a::before {
    left: 8px !important;
    top: -5px !important; } }
