.about-image {
  max-width: 100%;
  height: auto; }

.b-about-achievements {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .b-about-achievements__number {
    color: #202020;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 14px;
    line-height: 120%; }
  .b-about-achievements__line {
    width: 36px;
    height: 2px;
    background-color: #d5001c;
    margin-bottom: 17px; }
  .b-about-achievements__desc {
    font-size: 1.175rem;
    color: #3C3C3C; }

/*# sourceMappingURL=style.css.map */
