.rs-banner {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  overflow: hidden; }
  .l-section .rs-banner {
    min-height: 100%;
    align-content: stretch; }
  .l-section--header-compensator .rs-banner {
    padding-top: 5rem; }
    @media (min-width: 992px) {
      .l-section--header-compensator .rs-banner {
        padding-top: 9.5rem; } }
  .rs-banner-container {
    width: 100%;
    z-index: 2; }
  .rs-banner-area {
    align-items: stretch;
    display: flex;
    width: 100%; }
    .rs-banner-area.owl-carousel.owl-loaded {
      display: flex; }
  .rs-banner-wrapper {
    position: relative;
    overflow: hidden; }
    .rs-banner-wrapper .owl-item {
      align-items: stretch;
      display: flex; }
    .l-section .rs-banner-wrapper {
      align-items: stretch;
      display: flex;
      justify-self: stretch;
      flex-grow: 1;
      margin-top: -4rem;
      margin-bottom: -4rem;
      width: 100%; }
    .l-section--header-compensator .rs-banner-wrapper {
      margin-top: -5rem; }
      @media (min-width: 992px) {
        .l-section--header-compensator .rs-banner-wrapper {
          margin-top: -9.5rem; } }
    .l-section--min-30 .rs-banner-wrapper,
    .l-section--min-50 .rs-banner-wrapper {
      margin-bottom: -4rem;
      margin-top: -0; }
  .rs-banner:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1; }
  .rs-banner--light,
  .rs-banner--light a,
  .rs-banner--light .accent,
  .rs-banner--light .breadcrumb-item > a {
    color: #fff; }
  .rs-banner--light .btn-outline-primary {
    border-color: #fff;
    color: #fff; }
  @media (min-width: 992px) {
    .l-section--min-30 .rs-banner {
      min-height: 30rem; }
    .l-section--min-50 .rs-banner {
      min-height: 50rem; } }
  .rs-banner__video,
  .rs-banner-area.owl-carousel .owl-video-wrapper {
    bottom: 0;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background: #000; }
  .owl-carousel .rs-banner--has-preview .owl-video-wrapper {
    background: transparent; }
  .owl-carousel .rs-banner--has-preview .owl-video-tn {
    display: none; }
  .rs-banner__text .list-dashed > li:before {
    color: #d5001c;
    font-size: 2rem;
    line-height: initial; }
  .rs-banner-wrapper .owl-stage-outer {
    align-items: stretch;
    display: flex; }
  .rs-banner-wrapper .owl-stage {
    align-items: stretch;
    display: flex; }
  .rs-banner-wrapper .owl-dot > span {
    display: none; }
  .rs-banner-wrapper .owl-preview {
    display: none; }
  .rs-banner-wrapper .owl-preview__icon {
    display: none; }
  .rs-banner__dots {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0; }
  @media (min-width: 992px) {
    .rs-banner {
      padding-bottom: calc(5vh + 100px + 1rem + 1.4rem); }
      .rs-banner__dots.owl-loaded {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5; }
        .rs-banner__dots.owl-loaded > .owl-dots {
          width: 1000px;
          height: 100px;
          align-items: flex-end;
          justify-content: center;
          margin: 0 auto; }
      .rs-banner-wrapper .owl-dot {
        background: transparent;
        border-right: 1px solid #9798a7;
        border-left: 1px solid #9798a7;
        border-radius: 0;
        margin: 0 0 0 -1px;
        transition: 0.6s all;
        position: relative;
        z-index: 5;
        width: 20%;
        height: 50%;
        display: inline-block; }
        .rs-banner-wrapper .owl-dot:hover, .rs-banner-wrapper .owl-dot.active {
          height: 100%; }
        .rs-banner-wrapper .owl-dot:hover .owl-preview,
        .rs-banner-wrapper .owl-dot.active .owl-preview {
          opacity: 1;
          transition: opacity .9s ease-in-out; }
        .rs-banner-wrapper .owl-dot.active {
          background: transparent;
          width: 20%; }
        .rs-banner-wrapper .owl-dot > span {
          color: white;
          position: absolute;
          top: -24px;
          left: -10px;
          opacity: 0;
          font-size: 1rem;
          font-family: 'Montserrat';
          font-weight: 300; }
        .rs-banner-wrapper .owl-dot:hover > span {
          color: white;
          display: block;
          position: absolute;
          top: -24px;
          left: -10px;
          opacity: 1; }
        .rs-banner-wrapper .owl-dot:hover .owl-preview__icon {
          opacity: 1;
          transition: opacity .5s ease-in-out; }
        .rs-banner-wrapper .owl-dot.active > span {
          display: block;
          opacity: 1; }
      .rs-banner-wrapper .owl-preview {
        border: none;
        display: block;
        padding: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        opacity: 0;
        outline: none;
        filter: brightness(50%);
        z-index: 4; }
        .rs-banner-wrapper .owl-preview__icon {
          align-items: center;
          background-color: rgba(213, 0, 28, 0.2) !important;
          border-radius: 50%;
          color: #fff;
          cursor: pointer;
          display: flex;
          font-size: 1.5rem;
          height: 3.625rem;
          left: 50%;
          opacity: 0;
          padding: 0;
          position: absolute;
          top: 50%;
          text-align: center;
          transform: translate(-50%, -50%);
          width: 3.625rem;
          margin-bottom: 0;
          z-index: 5; }
          .rs-banner-wrapper .owl-preview__icon:hover {
            background-color: rgba(213, 0, 28, 0.4) !important; }
          .rs-banner-wrapper .owl-preview__icon > .icon-svg {
            pointer-events: none; }
      .rs-banner-wrapper .progressline {
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        background: rgba(255, 255, 255, 0.2);
        z-index: 4; }
      .rs-banner-wrapper .progressline__progress {
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0;
        background: rgba(255, 255, 255, 0.5); } }

/* RESPONSIVE */
@media (min-width: 992px) {
  .rs-banner__dots {
    width: 850px; }
    .rs-banner__dots .owl-dots {
      display: flex; } }

@media (min-width: 1200px) {
  .rs-banner__dots {
    width: 1000px; } }

/*# sourceMappingURL=banners.css.map */
